
@{
    ViewBag.Title = "Parts Received Between Dates";
    var isData = ViewBag.Data;
    var browser = Request.Browser.Type;
    var counter = 0;
    var startDate = ViewBag.StartDate;
    var endDate = ViewBag.EndDate;
}

@if (Model != null)
{
    <div>
        <input type="button" value="Change Filter" id="changeDates" class="float-right btn btn-primary" />
        <h2>Pallets Recieved by Part (@startDate - @endDate)</h2>

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Part Number</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Total Paid</th>
                <th>Average Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var part in Model.Parts)
            {
                <tr id="@part">
                    <td>@part</td>
                    <td>@Model.Descriptions[counter]</td>
                    <td>@Model.Quantities[counter]</td>
                    <td class="total-paid">@Model.TotalCost[counter]</td>
                    <td class="average-cost">@Model.AverageCost[counter]</td>
                </tr>
                counter++;
            }
        </tbody>
    </table>
}

<div id="dateFilter" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Select a start and end date</h2>
            </div>
            <div class="modal-body">
                <form action="PartsReceivedBetweenDates" id="dateForm">
                    @if (browser.ToLower().Equals("internetexplorer11"))
                    {
                        <strong>Start Date (mm/dd/yyyy)</strong>
                        <input type="text" name="startDate" class="datepicker" placeholder="mm/dd/yyyy" id="startDate" required>
                        <strong>Start Date (mm/dd/yyyy)</strong>
                        <input type="text" name="endDate" class="datepicker" placeholder="mm/dd/yyyy" id="endDate" required>
                    }
                    else
                    {
                        <strong>Start Date</strong>
                        <input type="date" name="startDate" class="datepicker" id="startDate" required>
                        <strong>Start Date</strong>
                        <input type="date" name="endDate" class="datepicker" id="endDate" required>
                    }
                </form>
            </div>
            <div class="modal-footer">
                <span style="color:red" id="error" class="float-left"></span>
                <input type="button" class="btn btn-warning" id="cancel" value="Cancel" data-dismiss="modal">
                <button type="button" class="btn btn-primary" id="submit">Continue</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function()
        {
            var isModel = '@isData';

            if (isModel == "False")
            {
                $('#error').html("No results found");
                $('#dateFilter').modal();
            }
            else if (isModel == "first")
            {
                $('#dateFilter').modal();
            }

            $('.total-paid').each(function ()
            {
                var cost = parseFloat($(this).html());
                $(this).html("$" + cost.toFixed(2));
            });

            $('.average-cost').each(function ()
            {
                var cost = parseFloat($(this).html());
                $(this).html("$" + cost.toFixed(2));
            });

            $('#changeDates').on('click', function ()
            {
                $('#startDate').val('@startDate');
                $('#endDate').val('@endDate')
                $('#dateFilter').modal();
            })


            $('#cancel').on('click', function ()
            {
                if (isModel == "False" || isModel == "first")
                {
                    location.href = "/Home/Index";
                }
                else
                {
                    $('dateFilter').modal('hide');
                }
            });

            $('#submit').on('click', function ()
            {
                var startDate = new Date($('#startDate').val());
                console.log(startDate);
                var endDate = new Date($('#endDate').val());
                console.log(endDate);

                if (startDate <= endDate && (startDate != "Invalid Date" && endDate != "Invalid Date"))
                {
                    $('#dateForm').submit();
                }
                else
                {
                    $('#submit').removeAttr('data-toggle').removeAttr('data-dismiss');

                    if (startDate >= endDate)
                    {
                        $('#error').html("No results found - Start date must be before end date");
                    }
                    else
                    {
                        $('#error').html("No results found - Please select start and end dates");
                    }

                    $('#startDate').val($('#startDate').val());
                    $('#endDate').val($('#endDate').val());
                    $('#dateFilter').modal();
                }
            });

            $('tr').on('click', function ()
            {
                var id = this.id;
                console.log(id);

                location.href = "/Reporting/PartsByVendorBetweenDates?startDate=" + '@ViewBag.StartDate' + "&endDate=" + '@ViewBag.EndDate' + "&partNumber=" + id;
            })
        });
    </script>
}