@using TrailerManagement.Models;
@{
    var vendor = ViewBag.Vendor;
    ViewBag.Title = "Payout Info for " + vendor;
}

<h2 class="float-left">Payout Info for @vendor</h2>
<a href="/Reporting/PayoutVendors" class="btn btn-warning float-left" style="margin-top:20px;margin-left:5px;">Vendor List</a>

@foreach (Payout payout in Model.Payouts)
{
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">@payout.DateCompleted</th>
                <th class="col-xs-2">Quantity</th>
                <th class="col-xs-2">Price</th>
            </tr>
        </thead>
        <tbody id="@payout.PayoutGUID">
            @foreach(CompletedSort stack in Model.Stacks)
            {
                if(stack.SortGUID == payout.SortGUID)
                {
                    <tr>
                        <td id="partNumber_@payout.PayoutGUID">@stack.PartNumber</td>
                        <td class="col-xs-6">@stack.Description</td>
                        <td id="quantity_@payout.PayoutGUID">@stack.Quantity</td>
                        <td id="price_@payout.PayoutGUID" class="price">@stack.Cost</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(function ()
        {
            $('.price').each(function ()
            {
                var id = this.id;
                var price = this.innerHTML;

                if (price != "")
                {
                    price = parseFloat(price);
                    price = "$" + price.toFixed(2);
                }
                else
                {
                    price = "$0.00";
                }
                $(this).html(price);
            })
        });
    </script>    
}