@using TrailerManagement.Models;
@{
    ViewBag.Title = "Payout Images By Vendor";
    
}

<div>
    <h2 class="float-left">Payout Images By Vendor - @ViewBag.Date</h2>
    <input type="button" class="btn btn-primary" value="Change Date" id="changeDate" style="margin-top:20px;margin-left:5px;"/>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Stack Number</th>
            <th>Note</th>
            <th>Taken By</th>
            <th>Date Taken</th>
        </tr>
    </thead>
    <tbody>
        @foreach(SortImage image in Model)
        {
            <tr>
                <td>
                    <a href="/SortImages/@image.ImagePath" download>
                        <img src="/SortImages/@image.ImagePath" width="250" height="250" style="transform:rotate(90deg)">
                    </a>
                </td>
                @if (image.StackNumber == 0)
                {
                    <td>Initial Image</td>
                }
                else
                {
                    <td>@image.StackNumber</td>
                }

                <td>@image.Notes</td>
                <td>@image.TakenBy</td>
                <td>@image.DateTaken</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function ()
        {
            $('#changeDate').on('click', function ()
            {
                history.back();
            })
        });
    </script>    
}