<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="~/Content/icon.PNG" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (Session["username"] != null)
        {
            <div class="container" id="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (Convert.ToInt32(Session["permission"]) > 10 && (Convert.ToInt32(Session["department"]) != 4500 && (Convert.ToInt32(Session["department"]) != 2100 || Convert.ToInt32(Session["permission"]) > 30)))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Trailers<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Trailer/ActiveTrailerList">Active List</a></li>
                                    @if (Convert.ToInt32(Session["permission"]) > 30 && (Convert.ToInt32(Session["department"]) == 4300 || Convert.ToInt32(Session["department"]) == 10000))
                                    {
                                        <li><a href="~/Trailer/TrailerList">Master List</a></li>
                                        <li><a href="~/Trailer/InactiveTrailerList">Inactive List</a></li>
                                    
                                    
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/Trailer/CreateTrailer">Create Trailer</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (Convert.ToInt32(Session["permission"]) > 20 && (Convert.ToInt32(Session["department"]) == 2100 || Convert.ToInt32(Session["department"]) >= 10000))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Pallet Repair<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/PalletRepair/SortList?status=OPEN">Sort List</a></li>
                                    @if (Convert.ToInt32(Session["permission"]) > 30)
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/PalletRepair/PayoutList">Payout List</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/PalletRepair/CustomersAndVendors?startsWith=ALL">Companies List</a></li>
                                        <li><a href="~/PalletRepair/PalletTypes">Pallet Types</a></li>
                                        <li><a href="~/PalletRepair/PalletPrices?startsWith=ALL">Price Presets</a></li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (Convert.ToInt32(Session["permission"]) > 20 && (Convert.ToInt32(Session["department"]) >= 10000 || Convert.ToInt32(Session["department"]) == 4500))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Safety<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Safety/SafetyAudit">Safety Audit</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Safety/SafetyCodes">Safety Codes</a></li>
                                    <li><a href="~/Safety/CreateSafetyCode">Create Safety Code</a></li>
                                </ul>
                            </li>
                        }

                        @if (Convert.ToInt32(Session["permission"]) > 20 && (Convert.ToInt32(Session["department"]) == 4300 || Convert.ToInt32(Session["department"]) == 10000))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reports<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Convert.ToInt32(Session["permission"]) > 40 && (Convert.ToInt32(Session["department"]) == 10000))
                                    {
                                        <li><a href="~/Reporting/InsuranceInfo">Insurance Info</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="~/Reporting/PayoutVendors">Payout Info by Vendor</a></li>
                                        <li><a href="~/Reporting/PartsRecievedByDate">Parts Recieved by Date</a></li>
                                        <li><a href="~/Reporting/PartsReceivedBetweenDates">Parts Received Between Dates</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    <li><a href="~/Reporting/ActiveListReporting">Active List Reporting</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Reporting/ActiveTrailerListFileReport">Run Active List Report</a></li>
                                    <li><a href="~/Reporting/PayoutInfoFileReport">Run Payout Report</a></li>

                                </ul>
                            </li>
                        }
                        @*@if (Convert.ToInt32(Session["permission"]) > 20)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Users<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Convert.ToInt32(Session["permission"]) > 30)
                                    {
                                        <li><a href="~/Users/CreateUser">Create User</a></li>
                                        <li><a href="~/Users/UserList">Edit Users</a></li>
                                        <li role="separator" class="divider"></li>
                                    }
                                    @if (Session["username"] == null)
                                    {
                                        <li><a href="~/Users/SignIn">Sign In</a></li>
                                    }
                                    <li><a href="~/Users/EditUser/@Session["userID"]">My Account</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="~/Users/SignOut">Sign Out</a></li>
                                </ul>
                            </li>
                        }*@
                    </ul>
                    @if (Session["username"] != null)
                    {
                        <span class="user">
                            <a href="~/Users/SignOut">[Sign Out]</a>
                        </span>
                        <span class="user">
                            Welcome, @Session["name"].ToString()
                        </span>
                    }
                </div>
            </div>
        }
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
