@using TrailerManagement.Models;
@{
    ViewBag.Title = "Active Locations Rows";
    var locationNumber = Model.LocationNumber;
}

<div>
    <h2 class="float-left">Location @locationNumber Rows</h2>
    <a href="/Inventory/CreateLocationRow?locationID=@locationNumber" class="btn btn-primary" style="margin-top:20px;margin-left:10px;">Create Row</a>
    <a href="/Inventory/ActiveInventoryLocations" class="btn btn-primary" style="margin-top:20px;margin-left:10px;">Locations</a>
    <a href="/Inventory/LocationSummary?locationID=@locationNumber" class="btn btn-primary"style="margin-top:20px;margin-left:10px;">Summary</a>
</div>


<table class="table table-hover table-responsive">
    <thead>
        <tr style="background-color:white">
            <th>Row Number</th>
            <th class="text-center">Number of Part Numbers</th>
            <th class="text-center">Number of Stacks</th>
            <th class="text-center">Pallet Count</th>
        </tr>
    </thead>
    <tbody id="locations">
        @foreach (ActiveLocationRow r in Model.Rows)
        {
            <tr id="@r.InventoryRowGUID">
                <td id="locationNumber_@r.InventoryRowGUID" class="hidden">@r.LocationNumber</td>
                <td id="rowNumber_@r.InventoryRowGUID">@r.RowNumber</td>
                <td id="numberOfParts_@r.InventoryRowGUID" class="text-center">@r.NumberOfPartNumbers</td>
                <td id="numberOfStacks_@r.InventoryRowGUID" class="text-center">@r.NumberOfStacks</td>
                <td id="palletCount_@r.InventoryRowGUID" class="text-center">@r.PalletCount</td>
                @if (r.NumberOfStacks > 0)
                {
                    <td><a href="/Inventory/ViewRowStacks?rowID=@r.InventoryRowGUID">Edit Stacks</a></td>
                }
                else
                {
                    <td><a href="/Inventory/AddToRow?locationID=@r.LocationNumber&rowNumber=@r.RowNumber">Input Stacks</a></td>
                }
            </tr>
        }
    </tbody>
</table>



@section scripts
{
    <script>
        $(function ()
        {
            $('#locations tr').on('click', function ()
            {
                //console.log(this.id);
                //location.href = "/Inventory/AddToRow?locationID=" + $('#locationNumber_' + this.id).html() + "&rowNumber=" + $('#rowNumber_' + this.id).html();
                //console.log("/Inventory/AddToRow?locationID=" + $('#locationNumber_' + this.id).html() + "&rowNumber=" + $('#rowNumber_' + this.id).html())
            });
        });
    </script>
}