@{
    ViewBag.Title = "Inventory Input";
}

<h2>Location: @ViewBag.LocationNumber - @ViewBag.RowNumber</h2>

<div class="well">
    @using (Html.BeginForm("AddToRow", "Inventory", FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="form-group hidden">
                <label for="locationNumber">Location Number</label>
                <input type="text" id="locationNumber" name="locationNumber" class="form-control col-md-offset-1" value="@ViewBag.LocationNumber" />
                <label for="rowNumber">Row Number</label>
                <input type="number" id="rowNumber" name="rowNumber" class="form-control col-md-offset-1" value="@ViewBag.RowNumber" />
            </div>
            <div id="parts">
                <div id="part-1">
                    <div id="part-1-stacks">
                        <div id="part-1-dropdown" class="form-group">
                            <label for="partNumbers" class="col-md-1">Part #</label>
                            @Html.DropDownList("partNumbers", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control", @id = "partNumber1", @required = "required" })
                        </div>
                        <div id="part-1-stack-1" class="form-group">
                            <label for="1-1" class="col-md-1">Stack 1</label>
                            <input type="number" placeholder="Stack 1 Quantity" id="1-1" name="1-1" class="form-control float-left" style="width:150px;" />
                        </div>
                    </div>
                    <div id="part-1-buttons">
                        <input type="button" class="btn btn-green add-stack" value="Next Stack" style="margin-left:80px;" />
                        <input type="button" class="btn btn-danger hidden remove-stack" value="Remove Stack" style="margin-right:5px;" />
                        <input type="button" class="btn btn-green split-first-stack" value="Split First Stack" style="margin-right:5px;" />
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-md-10">
                    <center>
                        <input type="button" class="btn btn-green add-pallet-type" value="New Part" id="addPalletType" style="margin-right:5px;" />
                        <input type="button" class="btn btn-green" value="Add Split Stack" id="addSplitStack" style="margin-right:5px;" />
                        <input type="button" class="btn btn-danger hidden" value="Remove Part" id="removePalletType" style="margin-right:5px;" />
                        <input type="submit" class="btn btn-primary float-left" />
                        <a href="/Inventory/ActiveLocationRows?locationID=@ViewBag.LocationNumber" class="btn btn-warning float-left" style="margin-left:5px;">Cancel</a>
                    </center>
                
                </div>
            </div>
            <div class="col-xs-7">
                
            </div>
        </div>
    }

    <div id="hiddenHtml" style="display:none">
        @Html.DropDownList("partNumbers", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control", @required = "required" })
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            var numberOfParts = 1;
            var totalStacks = 1;
            var partIndex = 0;
            var partsList = [];
            new Part(false);
            PrintList();
            Print();
            
            $('#removePalletType').on('click', function ()
            {
                if (partsList[partsList.length - 1]["IsSplitStack"] == true)
                {
                    //console.log("current part is split");
                    for (var x = 0; x < (partsList[partsList.length - 1]["NumberOfParts"]); x++)
                    {
                        $('#part-' + partsList[partsList.length - 1]["MaxPartNumber"]).remove();
                        partsList[partsList.length - 1]["MaxPartNumber"]--;
                        numberOfParts--;
                    }
                }
                else
                {
                    $('#part-' + numberOfParts).remove();
                    numberOfParts--;
                    console.log("current part is not split");
                }

                totalStacks -= partsList[partsList.length - 1]["NumberOfStacks"];
                partsList.pop();

                if (partsList[partsList.length - 1]["IsSplitStack"] == true)
                {
                    //console.log("part before is split");
                    $('#part-' + numberOfParts).append(
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-first-split-part\" value=\"Remove Split\" style=\"margin-left:5px;\" />" +
                        "</div>"
                    );

                    if (partsList[partsList.length - 1]["NumberOfParts"] > 1 && partsList[partsList.length - 1]["PartIndex"] == 1)
                    {
                        $('.remove-first-split-part').removeClass('hidden');
                    }
                }
                else
                {
                    //console.log("part before is not split");
                    $('#part-' + numberOfParts).append(
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green add-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-stack\" value=\"Remove Stack\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-green hidden hidden split-first-stack\" value=\"Split First Stack\" style=\"margin-left:5px;\" />" +
                        "</div>"
                    );

                    if (partsList[partsList.length - 1]["NumberOfStacks"] > 1)
                    {
                        $('.remove-stack').removeClass('hidden');
                    }
                    else
                    {
                        if (partsList[partsList.length - 1]["PartIndex"] == 1)
                        {
                            $('.split-first-stack').removeClass('hidden');
                        }
                    }
                }
                
                if (partsList[partsList.length - 1]["NumberOfParts"] > 2)
                {
                    $('.remove-split-part').removeClass('hidden');
                }

                if (numberOfParts == 1)
                {
                    $('#removePalletType').addClass('hidden');
                }

                partIndex--;
                PrintList();
                Print();
            });

            $('body').on('click', '.add-pallet-type', function ()
            {
                if (partsList[partsList.length - 1]["IsSplitStack"] == true)
                {
                    //console.log("checking input: " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                    //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);

                    if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "" &&
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");

                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');

                        totalStacks++;
                        numberOfParts++;

                        new Part(false);
                        PrintList();
                        Print();

                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        var length = $('#parts').children().length;
                        $('#part-' + $('#parts').children().length + '-buttons').remove();
                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                            "<hr style=\"border-color:black\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                            "<div id=\"part-" + numberOfParts + "-dropdown-1\" class=\"form-group\">" +
                            "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                            $('#hiddenHtml').html() +
                            "</div>" +
                            "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                            "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                            "<input type=\"number\" placeholder=\"Stack " + totalStacks + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                            "</div>" +
                            "</div>" +
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green add-stack\" value=\"Add Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-stack\" value=\"Remove Stack\" style=\"margin-left:5px;\" />" +
                            "</div>" +
                            "</div>"
                        );
                    }
                    else
                    {
                        if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                        {
                            //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                            $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                            $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }

                        if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                        {
                            //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }

                        if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                        }

                        console.log("checking partNumber" + (partsList[partsList.length - 1]["MaxPartNumber"] - 1));
                        if ($('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "")
                        {
                            $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'red');
                        }
                    }
                }
                else
                {
                    //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);

                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey')
                        totalStacks++;
                        numberOfParts++;

                        new Part(false);
                        PrintList();
                        Print();

                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        $('#part-' + $('#parts').children().length + '-buttons').remove();
                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                            "<hr style=\"border-color:black\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                            "<div id=\"part-" + numberOfParts + "-dropdown-1\" class=\"form-group\">" +
                            "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                            $('#hiddenHtml').html() +
                            "</div>" +
                            "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                            "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                            "<input type=\"number\" placeholder=\"Stack " + totalStacks + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                            "</div>" +
                            "</div>" +
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green add-stack\" value=\"Add Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-stack\" value=\"Remove Stack\" style=\"margin-left:5px;\" />" +
                            "</div>" +
                            "</div>"
                        );
                    }
                    else
                    {
                        //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() == "")
                        {
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }
                        else
                        {
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }


                        if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() == "")
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                        }
                        else
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                        }
                    }
                }

                if (partsList.length > 1)
                {
                    $('#removePalletType').removeClass('hidden');
                }

                //PrintList();
                //Print();
            });

            $('body').on('click', '.add-stack', function ()
            {
                
                //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                    $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                {
                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                    $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');

                    totalStacks++;

                    partsList[partsList.length - 1]["NumberOfStacks"]++;
                    partsList[partsList.length - 1]["MaxStackNumber"] = totalStacks;

                    var grandparent = this.parentElement.parentElement.id;
                    //console.log("grandparent id: " + grandparent);

                    //grandparent = 'part-' + numberOfParts
                    $('#' + grandparent + '-stacks').append(
                        "<div id=\"part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\">" +
                        "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                        "<input type=\"number\" placeholder=\"Stack " + totalStacks + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width: 150px;\" />" +
                        "</div>"
                    );

                    parent = this.parentElement.id;
                    //console.log("parent id: " + parent);

                    //parent = 'part-' + numberOfParts + '-buttons'
                    $('#' + parent).children('.remove-stack').removeClass('hidden');
                    $(this).parent().children('.split-first-stack').addClass('hidden');

                    if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                    }
                }
                else
                {
                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() == "")
                    {
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }
                    else
                    {
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }
                    
                    
                    if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() == "")
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                    }
                    else
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                    }
                }
                //PrintList();
                //Print();
            });

            $('body').on('click', '.remove-stack', function ()
            {
                var grandparent = this.parentElement.parentElement.id;
                //console.log("grandparent id: " + grandparent);

                $('#' + grandparent + "-stacks").children().last().remove();

                totalStacks--;

                partsList[partsList.length - 1]["NumberOfStacks"]--;
                partsList[partsList.length - 1]["MaxStackNumber"] = totalStacks;

                if (partsList[partsList.length - 1]["NumberOfStacks"] == 1)
                {
                    if (partsList[partsList.length - 1]["PartIndex"] == 1)
                    {
                        $('.split-first-stack').removeClass('hidden');
                    }
                    $(this).addClass('hidden');
                }

                //PrintList();
                //Print();
            });

            $('body').on('click', '.add-split-part', function ()
            {
                //console.log("checking input: " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);

                if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                    $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                    $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "" &&
                    $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                {
                    //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");

                    $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');

                    for (var x = 0; x < partsList[partsList.length - 1]["MaxPartNumber"]; x++)
                    {
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - x) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - x)).css('border-color', 'lightgrey');
                    }
                    
                    partsList[partsList.length - 1]["NumberOfParts"]++;
                    partsList[partsList.length - 1]["MaxPartNumber"]++;
                    numberOfParts++;
                    $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                    if (partsList[partsList.length - 1]["PartIndex"] == 1)
                    {
                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                            "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                            "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                            $('#hiddenHtml').html() +
                            "</div>" +
                            "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                            "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                            "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                            "</div>" +
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger remove-first-split-part\" value=\"Remove Split\" style=\"margin-left:5px;\" />" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );
                    }
                    else
                    {
                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                            "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                            "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                            $('#hiddenHtml').html() +
                            "</div>" +
                            "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                            "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                            "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                            "</div>" +
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        );
                    }
                    

                    $(this).parent().remove();
                }
                else
                {
                    if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                    {
                        console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }

                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                    {
                        console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }
                    console.log("checking partNumber" + (partsList[partsList.length - 1]["MaxPartNumber"]));
                    if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                    }

                    console.log("checking partNumber" + (partsList[partsList.length - 1]["MaxPartNumber"] - 1));
                    if ($('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "")
                    {
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'red');
                    }
                }

                PrintList();
                Print();
            });

            $('body').on('click', '.remove-split-part', function ()
            {
                $('#parts').children().last().remove();
                partsList[partsList.length - 1]["MaxPartNumber"]--;
                partsList[partsList.length - 1]["NumberOfParts"]--;
                numberOfParts--;

                if (partsList[partsList.length - 1]["PartIndex"] == 1)
                {
                    $('#part-' + numberOfParts).append(
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                        "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                        "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                        "<input type=\"button\" class=\"btn btn-danger remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                        "<input type=\"button\" class=\"btn btn-danger remove-first-split-part\" value=\"Remove Split\" style=\"margin-left:5px;\" />" +
                        "</div>"
                    );
                    if (partsList[partsList.length - 1]["NumberOfParts"] > 2)
                    {
                        $('.remove-split-part').removeClass('hidden');
                    }
                }
                else
                {
                    $('#part-' + numberOfParts).append(
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                        "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                        "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                        "<input type=\"button\" class=\"btn btn-danger remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                        "</div>"
                    );
                }

                if (partsList[partsList.length-1]["NumberOfParts"] <= 2)
                {
                    $('#part-' + numberOfParts + '-buttons').children('.remove-split-part').addClass('hidden');
                }

                PrintList();
                Print();
            });

            $('body').on('click', '.next-stack', function ()
            {
                //console.log("checking input: " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);

                if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                    $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                    $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "" &&
                    $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                {
                    //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");

                    for (var x = 0; x < partsList[partsList.length - 1]["MaxPartNumber"]; x++)
                    {
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - x) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - x)).css('border-color', 'lightgrey');
                    }

                    totalStacks++;
                    numberOfParts++;
                    new Part(false);

                    $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                    $(this).parent().remove();
                    $('#parts').append(
                    "<div id=\"part-" + numberOfParts + "\">" +
                        "<hr style=\"border-color:black\">" +
                        "<div id=\"part-" + numberOfParts + "-stacks\">" +
                            "<div id=\"part-" + numberOfParts + "-dropdown-1\" class=\"form-group\">" +
                                "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                                $('#hiddenHtml').html() +
                            "</div>" +
                            "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                                "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                                "<input type=\"number\" placeholder=\"Stack " + totalStacks + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                            "</div>" +
                        "</div>" +
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                            "<input type=\"button\" class=\"btn btn-green add-stack\" value=\"Add Stack\" style=\"margin-left:80px;\" />" +
                            "<input type=\"button\" class=\"btn btn-danger hidden remove-stack\" value=\"Remove Stack\" style=\"margin-left:5px;\" />" +
                        "</div>" +
                    "</div>"
                    );
                }
                else
                {
                    if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                    {
                        console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }

                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                    {
                        console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }

                    if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                    }

                    console.log("checking partNumber" + (partsList[partsList.length - 1]["MaxPartNumber"] - 1));
                    if ($('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "")
                    {
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                    }
                    else
                    {
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'red');
                    }
                }
                
                if (partsList.length > 1)
                {
                    $('#removePalletType').removeClass('hidden');
                }

                //PrintList();
                //Print();
            });

            $('body').on('click', '.split-first-stack', function ()
            {
                //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" && 
                    $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                {

                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                    $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');

                    partsList[partsList.length - 1]["NumberOfParts"]++;
                    partsList[partsList.length - 1]["MaxPartNumber"]++;
                    partsList[partsList.length - 1]["IsSplitStack"] = true;
                    numberOfParts++;

                    $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                    $(this).parent().remove();

                    $('#parts').append(
                        "<div id=\"part-" + numberOfParts + "\">" +
                        "<div id=\"part-" + numberOfParts + "-stacks\">" +
                        "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                        "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                        $('#hiddenHtml').html() +
                        "</div>" +
                        "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                        "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                        "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                        "</div>" +
                        "<div id=\"part-" + numberOfParts + "-buttons\">" +
                        "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                        "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                        "<input type=\"button\" class=\"btn btn-danger remove-first-split-part\" value=\"Remove Split\" style=\"margin-left:5px;\" />" +
                        "</div>" +
                        "</div>" +
                        "</div>"
                    );
                }
                else
                {
                    //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() == "")
                    {
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                    }
                    else
                    {
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                    }


                    if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() == "")
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                    }
                    else
                    {
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                    }
                }

                //PrintList();
                //Print();
            });

            $('body').on('click', '.remove-first-split-part', function ()
            {
                for (var x = partsList[partsList.length - 1]["NumberOfParts"]; x > 1; x--)
                {
                    $('#part-' + partsList[partsList.length - 1]["NumberOfParts"]).remove();
                    partsList[partsList.length - 1]["MaxPartNumber"]--;
                    partsList[partsList.length - 1]["NumberOfParts"]--;
                    numberOfParts--;

                    PrintList();
                    Print();
                }
                
                partsList[partsList.length - 1]["IsSplitStack"] = false;
                
                $('#part-1').append(
                    "<div id=\"part-1-buttons\">" + 
                    "<input type=\"button\" class=\"btn btn-green add-stack\" value=\"Next Stack\" style=\"margin-left: 80px;\" />" + 
                    "<input type=\"button\" class=\"btn btn-danger hidden remove-stack\" value=\"Remove Stack\" style=\"margin-left:5px;\" />" +
                    "<input type=\"button\" class=\"btn btn-green split-first-stack\" value=\"Split First Stack\" style=\"margin-left:5px;\" />" +
                    "</div>"
                );

                PrintList();
                Print();
            });

            $('#addSplitStack').on('click', function ()
            {
                if (partsList[partsList.length - 1]["IsSplitStack"] == true)
                {
                    //console.log("part before is split");
                    //console.log("checking input: " + (partsList[partsList.length - 1]["MaxPartNumber"]-1) + '-' + (partsList[partsList.length - 1]["MaxStackNumber"]));
                    //console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);

                    if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "" &&
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");

                        $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');

                        numberOfParts++;
                        totalStacks++;
                        new Part(true);

                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        $('#part-' + $('#parts').children().length + '-buttons').remove();

                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                                "<hr style=\"border-color:black\">" +
                                    "<div id=\"part-" + numberOfParts + "-stacks\">" +
                                    "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                                        "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                                        $('#hiddenHtml').html() +
                                    "</div>" +
                                    "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                                        "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                                        "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                                    "</div>" +
                                "</div>" +
                            "</div>"
                        );

                        numberOfParts++;
                        partsList[partsList.length - 1]["NumberOfParts"]++;
                        partsList[partsList.length - 1]["MaxPartNumber"]++;
                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        $('#parts').append(
                            "<div id=\"part-" + numberOfParts + "\">" +
                                "<div id=\"part-" + numberOfParts + "-stacks\">" +
                                    "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                                        "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                                        $('#hiddenHtml').html() +
                                    "</div>" +
                                    "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                                        "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                                        "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                                    "</div>" +
                                "</div>" +
                            "</div>"
                        );

                        $('#part-' + numberOfParts).append(
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                                "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                                "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                                "<input type=\"button\" class=\"btn btn-danger hidden remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                            "</div>"
                        );
                    }
                    else
                    {
                        if ($('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                        {
                            //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                            $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            //console.log("field " + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                            $('#' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1) + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }

                        if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "")
                        {
                            //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }

                        if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                        }

                        console.log("checking partNumber" + (partsList[partsList.length - 1]["MaxPartNumber"] - 1));
                        if ($('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).val() != "")
                        {
                            $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'lightgrey');
                        }
                        else
                        {
                            $('#partNumber' + (partsList[partsList.length - 1]["MaxPartNumber"] - 1)).css('border-color', 'red');
                        }
                    }
                }
                else
                {
                    console.log("part before is not split");
                    console.log("checking input: " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]);
                    if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() != "" &&
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() != "")
                    {
                        console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is filled");
                        $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                        
                        numberOfParts++;
                        totalStacks++;
                        new Part(true);

                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        $('#part-' + $('#parts').children().length + '-buttons').remove();

                        $('#parts').append(
                        "<div id=\"part-" + numberOfParts + "\">" +
                            "<hr style=\"border-color:black\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                                "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                                    "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                                    $('#hiddenHtml').html() +
                                "</div>" +
                                "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                                    "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                                    "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                                "</div>" +
                            "</div>" +
                        "</div>"
                        );

                        numberOfParts++;
                        partsList[partsList.length - 1]["NumberOfParts"]++; 
                        partsList[partsList.length - 1]["MaxPartNumber"]++; 
                        $('#hiddenHtml').children('select').attr('id', "partNumber" + numberOfParts);

                        $('#parts').append(
                        "<div id=\"part-" + numberOfParts + "\">" +
                            "<div id=\"part-" + numberOfParts + "-stacks\">" +
                                "<div id=\"part-" + numberOfParts + "-dropdown\" class=\"form-group\">" +
                                    "<label for=\"partNumbers\" class=\"col-md-1\">Part #</label>" +
                                    $('#hiddenHtml').html() +
                                "</div>" +
                                "<div id=part-" + numberOfParts + "-stack-" + totalStacks + "\" class=\"form-group\" >" +
                                    "<label for=\"" + numberOfParts + '-' + totalStacks + "\" class=\"col-md-1\">Stack " + totalStacks + "</label>" +
                                    "<input type=\"number\" placeholder=\"Part " + partsList[partsList.length - 1]["NumberOfParts"] + " Quantity\" id=\"" + numberOfParts + '-' + totalStacks + "\" name=\"" + numberOfParts + '-' + totalStacks + "\" class=\"form-control float-left\" style=\"width:150px;\" />" +
                                "</div>" +
                            "</div>" +
                        "</div>"
                        );

                        $('#part-' + numberOfParts).append(
                            "<div id=\"part-" + numberOfParts + "-buttons\">" +
                                "<input type=\"button\" class=\"btn btn-green next-stack\" value=\"Next Stack\" style=\"margin-left:80px;\" />" +
                                "<input type=\"button\" class=\"btn btn-green add-split-part\" value=\"Add Part\" style=\"margin-left:5px;\" />" +
                                "<input type=\"button\" class=\"btn btn-danger hidden remove-split-part\" value=\"Remove Part\" style=\"margin-left:5px;\" />" +
                            "</div>"
                        );

                    }
                    else
                    {
                        //console.log("field " + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"] + " is empty");
                        if ($('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).val() == "")
                        {
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'red');
                        }
                        else
                        {
                            $('#' + partsList[partsList.length - 1]["MaxPartNumber"] + '-' + partsList[partsList.length - 1]["MaxStackNumber"]).css('border-color', 'lightgrey');
                        }


                        if ($('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).val() == "")
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'red');
                        }
                        else
                        {
                            $('#partNumber' + partsList[partsList.length - 1]["MaxPartNumber"]).css('border-color', 'lightgrey');
                        }
                    }
                }

                if (partsList.length > 1)
                {
                    $('#removePalletType').removeClass('hidden');
                }

                PrintList();
                Print();
            });
            
            function Part(isSplitStack)
            {
                partIndex++;
                var part = {
                    PartIndex: partIndex,
                    IsSplitStack: isSplitStack,
                    NumberOfStacks: 1,
                    MaxStackNumber: totalStacks,
                    NumberOfParts: 1,
                    MaxPartNumber: numberOfParts,
                };

                partsList.push(part);
            }

            function Print()
            {
                console.log("number of parts: " + numberOfParts);
                console.log("total stacks: " + totalStacks);
                console.log("");
            }

            function PrintList()
            {
                console.log("");
                console.log(partsList);
            }
        });
    </script>    
}