@using TrailerManagement.Models;
@{
    ViewBag.Title = "Location Summary";
    var rows = (List<Object>)Model.Stacks;
    var rowCount = 1;
    var location = Model.LocationID;
}

<h2>Location @location Summary</h2>
@foreach (var row in Model.Stacks)
{
    var totalInputs = row.Count;

    var maxStackNumber = row[row.Count - 1].StackNumber;
    List<String> partNumbers = new List<string>();
    for (int x = 0; x < totalInputs; x++)
    {
        if (!partNumbers.Contains(row[x].PartNumber))
        {
            partNumbers.Add(row[x].PartNumber);
        }
    }
    
    <table class="" >
        <thead>
            <tr>
                <th colspan="100%" class="text-center" style="background-color:white">Row @rowCount</th>
            </tr>
            <tr style="border-top-style:solid; border-top-color:#333" id="top">
                <th class="col-xs-1" style="background-color:white">Part Number</th>
                <th class="col-xs-2" style="background-color:white">Site-Description/Notes</th>
                @for (var x = 1; x <= maxStackNumber; x++)
                {
                    <th class="text-center" style="background-color:white">Stack @x</th>
                }
            </tr>
        </thead>
        <tbody id="@rowCount">
            @foreach (var part in partNumbers)
            {
                int palletQuantity = 0;
                int[] stacks = new int[maxStackNumber];
                
                <tr>
                    <td>@part</td>

                    @foreach (var stack in row)
                    {
                        if (stack.PartNumber == part)
                        {
                            stacks[stack.StackNumber - 1] = stack.StackQuantity;
                            palletQuantity += stack.StackQuantity;
                        }
                    }
                    <td class="text-center">@palletQuantity</td>

                    @for (int x = 0; x < stacks.Length; x++)
                    {
                        if (stacks[x] != 0)
                        {
                            <td class="text-center">
                                @stacks[x]
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    <br />
    rowCount++;
}


@section scripts
{
    <script>
        $(function ()
        {
            $('table tbody').each(function ()
            {
                var id = this.id;
                console.log(id);
                console.log(this.childElementCount);
                //$('#row_' + id).attr('rowspan', this.childElementCount)
            })
        })
    </script>    
}