@using TrailerManagement.Models;
@{
    ViewBag.Title = "Payouts";
    var isClosed = ViewBag.Closed;
    var startingLetters = Model.StartingLetters;
    var startsWith = Session["startsWith"];
}

<div class="row" style="margin-top:-15px">
    @if (isClosed == true)
    {
        <div class="col-xs-2" style="width:22%; margin-top:15px">
            <h2 class="float-left">Closed Payouts</h2>
        </div>
        <br />
        <br />
        <br />
        <br />
    }
    else
    {
        <div class="col-xs-1" style="margin-top:15px">
            <h2 class="float-left">Payouts</h2>
        </div>
    }
    @if (isClosed == true)
    {
        <div class="col-xs-3 float-left" style="margin-left:10px;">
            <a href="SortList" class="btn btn-primary">Sort List</a>
            <a href="/Trailer/ActiveTrailerList" class="btn btn-primary" style="margin-left:10px">Active List</a>

        </div>
        if (isClosed == true)
        {
            <div class="col-xs-8 float-left" style="font-size:1.1em;margin-top:10px;margin-bottom:5px;">

                |&nbsp;<a href="PayoutList?status=CLOSED">ALL</a>&nbsp;|&nbsp;

                @foreach (var letter in startingLetters)
                {
                    <a href="PayoutList?status=CLOSED&startsWith=@letter" style="margin-right:2px;">@letter</a><span>&nbsp;|&nbsp;</span>
                }
            </div>
        }
        <input type="button" class="btn btn-primary float-right" id="showClosedPayouts" name="showClosedPayouts" value="Open Payouts" style="margin-top:-35px;margin-bottom:5px;"/>
    }
    else
    {
        <div class="col-xs-3" style="margin-right:-0px;margin-top:20px;">
            <a href="SortList" class="btn btn-primary" style="margin-top:15px; margin-left:25px;">Sort List</a>
            <a href="/Trailer/ActiveTrailerList" class="btn btn-primary" style="margin-top:15px; margin-left:10px">Active List</a>

        </div>
        <input type="button" class="btn btn-primary float-right" id="showClosedPayouts" name="showClosedPayouts" value="Closed Payouts" style="margin-top:40px;" />
    }


</div>
<table class="table table-hover table-responsive">
    @if (isClosed == true)
    {
        <thead>
            <tr class="font-md">
                <th class="col-xs-4">Vendor</th>
                <th>Trailer Number</th>
                <th>Order Number</th>
                <th>Date Arrived</th>
                <th>Date Completed</th>
                <th>Status</th>
            </tr>
        </thead>
    }
    else
    {
        <thead>
            <tr class="font-md">
                <th class="col-xs-4">Vendor</th>
                <th>Trailer Number</th>
                <th>Order Number</th>
                <th>Date Arrived</th>
                <th>Time to Unload</th>
                <th>Status</th>
            </tr>
        </thead>
    }

    <tbody id="payouts">
        @foreach (Payout p in Model.Payouts)
        {
            if (p.Status != "CLOSED")
            {
                <tr class="product-row" id="@p.SortGUID">
                    <td id="customer_@p.SortGUID">@p.Vendor</td>
                    <td id="trailerNumber_@p.SortGUID">@p.TrailerNumber</td>
                    <td id="orderNumber_@p.SortGUID">@p.OrderNumber</td>
                    <td id="dateArrived_@p.SortGUID">@p.DateArrived</td>
                    <td id="timeToUnload_@p.SortGUID">@p.TimeToSort</td>
                    <td id="status_@p.SortGUID">@p.Status</td>
                    <td id="remove_@p.SortGUID"><a href="/PalletRepair/RemovePayout?sortID=@p.SortGUID">remove</a></td>
                </tr>
            }
            else
            {
                <tr class="closed-row" id="@p.SortGUID">
                    <td id="customer_@p.SortGUID">@p.Vendor</td>
                    <td id="trailerNumber_@p.SortGUID">@p.TrailerNumber</td>
                    <td id="orderNumber_@p.SortGUID">@p.OrderNumber</td>
                    <td id="dateArrived_@p.SortGUID">@p.DateArrived</td>
                    <td id="dateArrived_@p.SortGUID">@p.DateCompleted</td>
                    <td id="status_@p.SortGUID">@p.Status</td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Form Test -->
<div id="additionalInfoModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Update Payout Info <span id="vendorName"></span></h2>

                @using (Html.BeginForm("UpdatePayoutInfo", "PalletRepair", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="modal-body">
                            <div class="form-group hidden">
                                <input type="number" class="form-control" id="sortID" name="sortID">
                                <br>
                            </div>
                            <div class="form-group">
                                <strong>Trailer Number:</strong>
                                <input type="text" class="form-control" id="trailerNumber" name="trailerNumber">
                            </div>
                            <div class="form-group">
                                <strong>Invoice Number:</strong>
                                <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber">
                            </div>
                            <div class="form-group">
                                <strong>Bill Of Lading:</strong>
                                <input type="text" class="form-control" id="billOfLading" name="billOfLading">
                            </div>
                            <div class="form-group">
                                <strong>Packing List Number:</strong>
                                <input type="text" class="form-control" id="packingListNumber" name="packingListNumber">
                            </div>
                            <div class="form-group">
                                <strong>Purchase Order Number:</strong>
                                <input type="text" class="form-control" id="purchaseOrderNumber" name="purchaseOrderNumber">
                            </div>
                            <div class="form-group">
                                <strong>Pallet Order Number:</strong>
                                <input type="text" class="form-control" id="palletOrderNumber" name="palletOrderNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Continue" id="submit" class="btn btn-primary" />
                                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            $('#showClosedPayouts').removeAttr('disabled', 'disabled');
            var sortID;
            $('#payouts').on('click', '.product-row', function ()
            {
                sortID = this.id;
                if ($('#status_' + sortID).html() == "NEW")
                {
                    $('#sortID').val(sortID);
                    $('#additionalInfoModal').modal();
                }
                else
                {
                    location.href = "/PalletRepair/ViewPayout?sortID=" + sortID;
                }
            });

            $('#payouts tr').each(function ()
            {
                var payoutID = this.id;
                
                var timeToUnload = $('#timeToUnload_' + payoutID).html();
                timeToUnload = (timeToUnload / 60).toFixed(2) + " minutes";
                $('#timeToUnload_' + payoutID).html(timeToUnload);
            })

            $('#payouts').on('click', '.closed-row', function ()
            {
                sortID = this.id;
                location.href = "/PalletRepair/ViewCompletedPayout?sortID=" + sortID;
            });

            var isClosed = '@isClosed';

            $('#showClosedPayouts').on('click', function ()
            {
                if (isClosed == "True")
                {
                    location.href = "/PalletRepair/PayoutList";
                }
                else
                {
                    location.href = "/PalletRepair/PayoutList?status=CLOSED";
                }
            })

            $('#updateAdditionalInfo').on('click', function ()
            {
                location.href = "/PalletRepair/UpdatePayoutInfo?sortID=" + sortID + "&invoiceNumber=" + $('#invoiceNumber').val() + "&billOfLading=" + $('#billOfLading').val() + "&packingListNumber=" + $('#packingListNumber').val() + "&purchaseOrderNumber=" + $('#purchaseOrderNumber').val() + "&palletOrderNumber=" + $('#palletOrderNumber').val() + "&vendor=" + $('#vendors').val();
            });
        });
    </script>
}