@using TrailerManagement.Models;
@{
    ViewBag.Title = "Sort Trailer";
    var trailer = Model.Trailer;
    var vendor = Model.Vendor;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (vendor != null)
{
    <br>
    <table class="table table-responsive">

        <thead>
            <tr class="font-md" style="color:red">
                <th class="text-center">
                    <h2>For this vendor: @trailer.Vendor</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3 class="text-center">@vendor.SortTypeDescription</h3>
                </td>
            </tr>
        </tbody>
        
    </table>
}
<h2>Sort Sheet</h2>

<div class="well">
    <form method="post" class="form-horizontal">
        <input type="button" value="Next Stack" class="btn btn-primary col-xs-3" id="nextStack2" />
        <a href="/PalletRepair/SortList" value="Finish Later" class="btn btn-danger col-xs-3">Finish Later</a>
        <input type="button" value="All Done" class="btn btn-warning float-right col-xs-3" id="finish2" />
        <button type="button" id="hideKeyboard" class="btn btn-primary float-right col-xs-3"><span class="fa fa-keyboard-o"></span>&nbsp;Hide Keyboard</button>

        <br>
        <div class="form-horizontal">
            <!-- Stack Number -->
            <div class="form-group">
                <div class="col-xs-6" style="display:block">
                    <h3><strong>Stack Number:&nbsp;<span id="stackNumber"></span></strong></h3>
                </div>
                <div class="col-xs-6" style="margin-top:20px">
                    <input type="button" class="btn btn-primary" id="uploadStackImage" value="Upload Image : Do this first" style="background-color:aqua; border-color:aqua">
                </div>
            </div>
            <!-- Stack Size -->
            <div class="form-group">
                <div class="col-xs-6">
                    <strong>Stack Size:</strong>
                    <input type="number" id="stackSize" class="form-control"><br>
                </div>

                <div class="col-xs-6">
                    <strong>People on Stack:&nbsp;</strong>
                    <br>
                    <div class="col-xs-5">
                        <input type="number" id="numberOfPeople" class="form-control" value="@trailer.NumberOfPeopleToStart">
                    </div>
                    <div class="col-xs-2">
                        <input type="button" value="+" class="btn" id="addPerson" style="background-color:darkmagenta; color:white" tabindex="-1">
                    </div>
                    <div class="col-xs-2">
                        <input type="button" value="-" class="btn" id="subtractPerson" style="background-color:darkmagenta; color:white" tabindex="-1">
                    </div>

                </div>
            </div>
            <!-- Pallet Type 1 -->
            <div class="form-group">
                <div class="col-xs-7">
                    <strong id="palletType1">Unrepaired 48x40 Cores:</strong>
                    <input type="number" id="palletType1Quantity" class="form-control" placeholder="(50-0140) - Quantity">
                    <input type="text" id="palletType1Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-2">
                    <button type="button" id="hideKeyboard" class="btn btn-primary" style="margin-top:30px" tabindex="-1"><h4><span class="fa fa-keyboard-o"></span></h4></button>
                </div>
            </div>
            <!-- Pallet Type 2 -->
            <div class="form-group">
                <div class="col-xs-7">
                    <strong id="palletType2">Repaired 48x40 4/Way Flush (Grade A):</strong>
                    <input type="number" id="palletType2Quantity" class="form-control" placeholder="(50-0001) - Quantity">
                    <input type="text" id="palletType2Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-2">
                    <button type="button" id="hideKeyboard" class="btn btn-primary" style="margin-top:30px" tabindex="-1"><h4><span class="fa fa-keyboard-o"></span></h4></button>
                </div>
            </div>
            <!-- Pallet Type 3 -->
            <div class="form-group">
                <div class="col-xs-7">
                    <strong id="palletType3">Repaired 48x40 4/Way Flush (Grade B):</strong>
                    <input type="number" id="palletType3Quantity" class="form-control" placeholder="(50-0004) - Quantity">
                    <input type="text" id="palletType3Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <h3>
                    <br>
                    <input type="checkbox" id="showPalletType4" class="col-md-offset-3 " name="showPalletType4" />
                    <label for="showPalletType4" id="showPalletType4">Another Type?</label>
                </h3>
            </div>
            <!-- Pallet Type 4 -->
            <div class="form-group hidden" id="palletType4">
                <div class="col-xs-7" id="palletType4TypeInput">
                    <strong>Extra Pallet Type 1:</strong>
                    @Html.DropDownList("palletTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "palletType4Input" })
                    <input type="text" id="palletType4Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-5">
                    <strong id="palletType4Label">Extra Pallet Type 1 Quantity:</strong>
                    <input type="number" id="palletType4Quantity" class="form-control"><br>
                    <input type="checkbox" id="showPalletType5" name="showPalletType5" />
                    <label for="showPalletType5" id="showPalletType5">Another Type?</label>
                </div>
            </div>
            <!-- Pallet Type 5 -->
            <div class="form-group hidden" id="palletType5">
                <div class="col-xs-7" id="palletType5TypeInput">
                    <strong>Extra Pallet Type 2:</strong>
                    @Html.DropDownList("palletTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "palletType5Input" })
                    <input type="text" id="palletType5Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-5">
                    <strong id="palletType5Label">Extra Pallet Type 2 Quantity:</strong>
                    <input type="number" id="palletType5Quantity" class="form-control"><br>
                    <input type="checkbox" id="showPalletType6" class="col-md-offset-3 " name="showPalletType6" />
                    <label for="showPalletType6" id="showPalletType6">Another Type?</label>
                </div>
            </div>
            <!-- Pallet Type 6 -->
            <div class="form-group hidden" id="palletType6">
                <div class="col-xs-7">
                    <strong>Extra Pallet Type 3:</strong>
                    @Html.DropDownList("palletTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "palletType6Input" })
                    <input type="text" id="palletType6Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-5">
                    <strong id="palletType6Label">Extra Pallet Type 3 Quantity:</strong>
                    <input type="number" id="palletType6Quantity" class="form-control"><br>
                    <input type="checkbox" id="showPalletType7" class="col-md-offset-3 " name="showPalletType7" />
                    <label for="showPalletType7" id="showPalletType7">Another Type?</label>
                </div>
            </div>
            <!-- Pallet Type 7 -->
            <div class="form-group hidden" id="palletType7">
                <div class="col-xs-7">
                    <strong>Extra Pallet Type 4</strong>
                    @Html.DropDownList("palletTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "palletType7Input" })
                    <input type="text" id="palletType7Notes" class="form-control" placeholder="Leave a note for Nancy?" tabindex="-1"><br>
                </div>
                <div class="col-xs-5">
                    <strong id="palletType7Label">Extra Pallet Type 4 Quantity:</strong>
                    <input type="number" id="palletType7Quantity" class="form-control"><br>
                </div>
            </div>

            <!-- Scrap -->
            <div class="form-group" id="palletTypeScrap">
                <div class="col-xs-7">
                    <strong>Scrap:</strong>
                    @Html.DropDownList("scrapTypes", null, htmlAttributes: new { @class = "form-control signin-form", @id = "scrapTypes" })
                    <input type="text" id="scrapNotes" class="form-control" placeholder="Leave a note for Nancy?"><br>
                </div>
                <div class="col-xs-5">
                    <strong>Scrap Quantity:</strong>
                    <input type="number" id="scrapQuantity" class="form-control"><br>
                </div>
            </div>
            <strong>Custom Pallet:</strong>
            <!-- Custom Pallet Size -->
            <div class="form-group" id="customPalletType">
                <div class="col-xs-2">
                    <strong>Length:</strong>
                    <input type="number" id="customLength" class="form-control">
                </div>
                <div class="col-xs-2">
                    <strong>Width:</strong>
                    <input type="number" id="customWidth" class="form-control">
                </div>
                <div class="col-xs-2">
                    <strong>Quantity:</strong>
                    <input type="number" id="customPalletQuantity" class="form-control"><br>
                </div>
                <div class="col-xs-5">
                    <strong>Note</strong>
                    <input type="text" id="customPalletNote" class="form-control" placeholder="Leave a note for Nancy?"><br>
                </div>
            </div>


            <input type="button" value="Next Stack" class="btn btn-primary col-xs-4" id="nextStack" />
            <a href="/PalletRepair/SortList" value="Finish Later" class="btn btn-danger col-xs-4" id="finishLater">Finish Later</a>
            <input type="button" value="All Done" class="btn btn-warning float-right col-xs-4" id="finish" />
            <br>
            <br>
        </div>
    </form>
</div>

<!-- Error Modal -->
<div id="errorModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                <p>Stack quantity does not match stack size, please check again.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Picture Check Modal -->
<div id="pictureModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                <p>Would you like to upload a picture for this stack?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="no" data-dismiss="modal" data-toggle="modal">No</button>
                <button type="button" class="btn btn-primary" id="yes" data-dismiss="modal" data-toggle="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Stack Image Modal -->
<div id="stackImageModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Stack Image</h2>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateStackImage", "PalletRepair", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="modal-body">
                            <div class="form-group hidden">
                                <input type="number" class="form-control" id="sortID" name="sortID" value="@trailer.SortGUID">
                            </div>
                            <div class="form-group hidden">
                                <input type="text" class="form-control" id="peopleOnStack" name="peopleOnStack">
                            </div>
                            <div class="form-group hidden">
                                <input type="number" class="form-control" id="stackNumber" name="stackNumber" value="@ViewBag.StackNumber">
                            </div>
                            <div class="form-group">
                                <input type="file" name="ImageFile" id="ImageFile" required>
                            </div>
                            <div class="form-group">
                                <strong>Image Note</strong>
                                <input type="text" class="form-control" id="notes" name="notes">
                            </div>
                            <br>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Continue" class="btn btn-primary" />
                                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
    $(function ()
    {
        var timeOnLoad = new Date();
        var seconds;
        function calculateTimeOnPage()
        {
            var timeOnLeave = new Date();

            seconds = (timeOnLeave.getTime() - timeOnLoad.getTime()) / 1000;
        }

        var imageUploaded = '@ViewBag.ImageUploaded';
        imageUploaded = imageUploaded.toLowerCase();
        if (imageUploaded == "false")
        {
            $('#pictureModal').modal();
        }
        else
        {
            $('#uploadStackImage').addClass('hidden');
        }

        $('#yes').on('click', function ()
        {
            $('body').css('overflow', 'hidden');
            $('body').css('overflow-x', 'hidden');
            $('#peopleOnStack').val($('#numberOfPeople').val());
            $('#stackImageModal').modal();
        });

        $('#close').on('click', function ()
        {
            $('body').css('overflow', 'scroll');
            $('body').css('overflow-x', 'hidden');
        });

        $('#numberOfPeople').attr('disabled', 'disabled');
        var numberOfPeople = $('#numberOfPeople').val();

        $('#addPerson').on('click', function ()
        {
            numberOfPeople++;
            $('#numberOfPeople').val(numberOfPeople);
        });
        $('#subtractPerson').on('click', function ()
        {
            numberOfPeople--;
            if (numberOfPeople <= 0)
            {
                numberOfPeople = 1;
                $('#numberOfPeople').val(1);
            }
            else
            {
                $('#numberOfPeople').val(numberOfPeople);
            }
        });

        var stackNumber = parseInt('@ViewBag.StackNumber');
        $('#stackNumber').html(stackNumber);

        $('#stackSize').removeAttr('disabled', 'disabled');

        if (stackNumber > 1)
        {
            $('#finish').removeClass('hidden');
        }

        $('#hideKeyboard').on('click', function ()
        {
            Android.hideKeyboard();
        });

        $('#uploadStackImage').on('click', function ()
        {
            $('body').css('overflow', 'hidden');
            $('body').css('overflow-x', 'hidden');
            $('#peopleOnStack').val($('#numberOfPeople').val());
            $('#stackImageModal').modal();
        });

        var numberOfPeople = '@ViewBag.NumberOfPeople';
        if (numberOfPeople != "")
        {
            $('#numberOfPeople').val(numberOfPeople);
        }

        //var totalPallets = 0;
        var totalPalletTypes = 0;

        $('#palletType4Input').val("");
        $('#palletType5Input').val("");
        $('#palletType6Input').val("");
        $('#palletType7Input').val("");

        $('#palletType1Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType2Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType3Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType4Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType5Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType6Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#palletType7Quantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#scrapQuantity').on('change', function ()
        {
            totalPalletTypes++;
        });
        $('#customPalletQuantity').on('change', function ()
        {
            totalPalletTypes++;
        });

        var partNumbers = "";
        var palletQuantities = "";
        var palletNotes = "";
        function PalletType(partNumber, quantity, note)
        {
            if (quantity != "")
            {
                partNumbers += partNumber + "|";
                palletQuantities += quantity + "|";
                if (note == "")
                {
                    note = "-";
                    palletNotes += note + "|";
                }
                else
                {
                    palletNotes += note + "|";
                }
            }
        }

        function createStack()
        {
            var stackSize = parseInt($('#stackSize').val());

            new PalletType("50-0140", $('#palletType1Quantity').val(), $('#palletType1Notes').val());
            new PalletType("50-0001", $('#palletType2Quantity').val(), $('#palletType2Notes').val());
            new PalletType("50-0004", $('#palletType3Quantity').val(), $('#palletType3Notes').val());
            new PalletType($('#palletType4Input').val(), $('#palletType4Quantity').val(), $('#palletType4Notes').val());
            new PalletType($('#palletType5Input').val(), $('#palletType5Quantity').val(), $('#palletType5Notes').val());
            new PalletType($('#palletType6Input').val(), $('#palletType6Quantity').val(), $('#palletType6Notes').val());
            new PalletType($('#palletType7Input').val(), $('#palletType7Quantity').val(), $('#palletType7Notes').val());
            new PalletType($('#scrapTypes').val(), $('#scrapQuantity').val(), $('#scrapNotes').val());
            new PalletType(($('#customWidth').val() + "x" + $('#customLength').val()), $('#customPalletQuantity').val(), $('#customPalletNote').val());

            var quantities = palletQuantities.substring(0, palletQuantities.length -1).split('|');

            var stackQuantity = 0;
            for (x = 0; x < quantities.length; x++)
            {
                stackQuantity += parseInt(quantities[x]);
            }
            calculateTimeOnPage();
            if ($('#stackSize').val() != "")
            {
                if (stackSize == stackQuantity)
                {
                    countMatches = true;

                    location.href = "/PalletRepair/CreateNewStack?sortID=" + '@trailer.SortGUID' + "&stackNumber=" + stackNumber + "&partNumbers=" + partNumbers.substring(0, partNumbers.length - 1) + "&quantities=" + palletQuantities.substring(0, palletQuantities.length - 1) + "&numberOfPeople=" + $('#numberOfPeople').val() + "&notes=" + palletNotes.substring(0, palletNotes.length - 1) + "&timeOnStack=" + seconds;
                    //console.log("/PalletRepair/CreateNewStack?sortGUID=" + '@trailer.SortGUID' + "&stackNumber=" + stackNumber + "&partNumbers=" + partNumbers.substring(0, partNumbers.length - 1) + "&quantities=" + palletQuantities.substring(0, palletQuantities.length - 1) + "&numberOfPeople=" + $('#numberOfPeople').val() + "&notes=" + palletNotes.substring(0, palletNotes.length - 1) + "&timeOnStack=" + seconds);
                }
                else
                {
                    $('#errorModal').modal();
                    partNumbers = "";
                    palletQuantities = "";
                    palletNotes = "";
                }
            }
        }

        $('#nextStack').on('click', function ()
        {
            createStack();
        });
        $('#nextStack2').on('click', function ()
        {
            createStack();
        });

        var countMatches = false;
        $('#finish').on('click', function ()
        {
            calculateTimeOnPage();
            createStack();
            if ($('#stackSize').val() == "")
            {
                location.href = "/PalletRepair/SortConfirmation?sortID=" + '@trailer.SortGUID';
            }
            else if (countMatches)
            {
                location.href = "/PalletRepair/CreateNewStack?sortID=" + '@trailer.SortGUID' + "&stackNumber=" + stackNumber + "&partNumbers=" + partNumbers.substring(0, partNumbers.length - 1) + "&quantities=" + palletQuantities.substring(0, palletQuantities.length - 1) + "&numberOfPeople=" + $('#numberOfPeople').val() + "&notes=" + palletNotes.substring(0, palletNotes.length - 1) + "&allDone=true&timeOnStack=" + seconds;
            }
        });

        $('#finish2').on('click', function ()
        {
            calculateTimeOnPage();
            createStack();
            if ($('#stackSize').val() == "")
            {
                location.href = "/PalletRepair/SortConfirmation?sortID=" + '@trailer.SortGUID';
            }
            else if (countMatches)
            {
                location.href = "/PalletRepair/CreateNewStack?sortID=" + '@trailer.SortGUID' + "&stackNumber=" + stackNumber + "&partNumbers=" + partNumbers.substring(0, partNumbers.length - 1) + "&quantities=" + palletQuantities.substring(0, palletQuantities.length - 1) + "&numberOfPeople=" + $('#numberOfPeople').val() + "&user=" + $('#user').html() + "&notes=" + palletNotes.substring(0, palletNotes.length - 1) + "&allDone=true&timeOnStack=" + seconds ;
            }
        });

        $('#palletType4Input').on('change', function () {
            $('#palletType4Label').html($('#palletType4Input').val() + " Quantity");
        })
        $('#palletType5Input').on('change', function () {
            $('#palletType5Label').html($('#palletType5Input').val() + " Quantity");
        })
        $('#palletType6Input').on('change', function () {
            $('#palletType6Label').html($('#palletType6Input').val() + " Quantity");
        })
        $('#palletType7Input').on('change', function () {
            $('#palletType7Label').html($('#palletType7Input').val() + " Quantity");
        })

        $('#currentDate').html(getCurrentDate());

        if ($('#showPalletType4').is(':checked'))
        {
            $('#palletType4').removeClass('hidden');
        }
        else
        {
            $('#palletType4').addClass('hidden');
        }

        $('#showPalletType4').change(function ()
        {
            if ($(this).is(':checked'))
            {
                $('#palletType4').removeClass('hidden');
            }
            else
            {
                $('#palletType4').addClass('hidden');
            }
        });

        if ($('#showPalletType5').is(':checked'))
        {
            $('#palletType5').removeClass('hidden');
            $('#showPalletType4').attr('disabled', 'disabled');
        }
        else
        {
            $('#palletType5').addClass('hidden');
            $('#showPalletType4').removeAttr('disabled', 'disabled');
        }

        $('#showPalletType5').change(function ()
        {
            if ($(this).is(':checked'))
            {
                $('#palletType5').removeClass('hidden');
                $('#showPalletType4').attr('disabled', 'disabled');
            }
            else
            {
                $('#palletType5').addClass('hidden');
                $('#showPalletType4').removeAttr('disabled', 'disabled');
            }
        });

        if ($('#showPalletType6').is(':checked'))
        {
            $('#palletType6').removeClass('hidden');
            $('#showPalletType5').attr('disabled', 'disabled');
        }
        else
        {
            $('#palletType6').addClass('hidden');
            $('#showPalletType5').removeAttr('disabled', 'disabled');
        }

        $('#showPalletType6').change(function ()
        {
            if ($(this).is(':checked'))
            {
                $('#palletType6').removeClass('hidden');
                $('#showPalletType5').attr('disabled', 'disabled');
            }
            else
            {
                $('#palletType6').addClass('hidden');
                $('#showPalletType5').removeAttr('disabled', 'disabled');
            }
        });

        if ($('#showPalletType7').is(':checked'))
        {
            $('#palletType7').removeClass('hidden');
            $('#showPalletType6').attr('disabled', 'disabled');
        }
        else
        {
            $('#palletType7').addClass('hidden');
            $('#showPalletType6').removeAttr('disabled', 'disabled');
        }

        $('#showPalletType7').change(function ()
        {
            if ($(this).is(':checked'))
            {
                $('#palletType7').removeClass('hidden');
                $('#showPalletType6').attr('disabled', 'disabled');
            }
            else
            {
                $('#palletType7').addClass('hidden');
                $('#showPalletType6').removeAttr('disabled', 'disabled');
            }
        });

        function getCurrentDate()
        {
            var currentDate = new Date().toString();
            var currentMonth = currentDate.substring(4, 7);
            var currentDay = currentDate.substring(8, 10);
            var currentYear = currentDate.substring(11, 15);

            //converts month abreviation to month number
            switch (currentMonth)
            {
                case "Jan":
                    currentMonth = "01";
                    break;
                case "Feb":
                    currentMonth = "02";
                    break;
                case "Mar":
                    currentMonth = "03";
                    break;
                case "Apr":
                    currentMonth = "04";
                    break;
                case "May":
                    currentMonth = "05";
                    break;
                case "Jun":
                    currentMonth = "06";
                    break;
                case "Jul":
                    currentMonth = "07";
                    break;
                case "Aug":
                    currentMonth = "08";
                    break;
                case "Sep":
                    currentMonth = "09";
                    break;
                case "Oct":
                    currentMonth = "10";
                    break;
                case "Nov":
                    currentMonth = "11";
                    break;
                case "Dec":
                    currentMonth = "12";
                    break;
            }

            currentDate = (currentYear + "-" + currentMonth + "-" + currentDay);
            return currentDate;
        }
    });
    </script>
}
