@using TrailerManagement.Models;
@{
    ViewBag.Title = "Payout";
    Payout payout = Model.Payout;
    var vendor = Model.Vendor;
    var isCompleted = Model.IsCompleted;
    var user = Model.User;
}

<br>
<input type="button" id="showAdditionalInfoModal" value="Update Payout Info" class="btn btn-primary" />
<input type="button" id="showUpdatePayoutVendorModal" value="Update Vendor" class="btn btn-primary" />
<input type="button" id="updateAccountingNote" value="Update Accounting Note" class="btn btn-primary" />

<span class="float-right"><h3>Unloaded by: @user </h3></span>

<br />
<br />
<table class="table table-responsive">
    <thead>
        <tr class="font-md">
            <th colspan="2" class="text-center">
                <h2>@payout.Vendor - @payout.VendorNumber</h2>
                @if (vendor != null)
                {
                    <div class="text-center" style="color:red">
                        @vendor.PayoutDescription
                    </div>

                }
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-6"><strong>Trailer Number: </strong><span id="payoutTrailerNumber">@payout.TrailerNumber</span></td>
            <td class="col-md-6"><strong>Pallet Order Number: </strong><span id="payoutOrderNumber">@payout.OrderNumber</span></td>
        </tr>
        <tr>
            <td class="col-md-6"><strong>Invoice Number:&nbsp;</strong><span id="payoutInvoiceNumber">@payout.InvoiceNumber</span></td>
            <td class="col-md-6"><strong>Bill Of Lading:&nbsp;</strong><span id="payoutBillOfLading">@payout.BillOfLading</span></td>
        </tr>
        <tr>
            <td class="col-md-6"><strong>Packing List Number:&nbsp;</strong><span id="payoutPackingListNumber">@payout.PackingListNumber</span></td>
            <td class="col-md-6"><strong>Purchase Order Number:&nbsp;</strong><span id="payoutPurchaseOrderNumber">@payout.PurchaseOrderNumber</span></td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-responsive">
    <thead>
        <tr class="font-md">
            <th>Part Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="palletTypes">
        @foreach (CompletedSort t in Model.SortedTrailer)
        {
            <tr class="product-row" id="@t.CompletedSortGUID">
                <td id="partNumber_@t.CompletedSortGUID">@t.PartNumber</td>
                <td id="description_@t.CompletedSortGUID">@t.Description</td>
                <td>
                    <span id="quantity_@t.CompletedSortGUID" class="float-left">@t.Quantity</span>
                    <span class="float-right">
                        <a class="quantityLink" id="updateQuantity_@t.CompletedSortGUID" data-id="@t.CompletedSortGUID">Edit Quantity</a>
                    </span>
                </td>
                <td>
                    <span class="float-left" id="price_@t.CompletedSortGUID">@t.Cost</span>
                    <span class="float-right">
                        <a class="priceLink" id="price_@t.CompletedSortGUID" data-id="@t.CompletedSortGUID">Edit Price</a>
                    </span>
                </td>
                <td>
                    <a class="splitLink" id="split_@t.CompletedSortGUID" data-id="@t.CompletedSortGUID">Split</a>
                </td>
                @if (t.IsSplit.Equals(true))
                {
                    <td>
                        <a class="undoLink" id="undo_@t.CompletedSortGUID" data-id="@t.CompletedSortGUID">Undo Split</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="deleteLink" id="delete_@t.CompletedSortGUID" data-id="@t.CompletedSortGUID">Delete</a>
                    </td>
                }

                <td class="hidden" id="sortGUID">@t.SortGUID</td>
            </tr>
        }
        
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total Price:</td>
            <td id="totalPrice"></td>
        </tr>
    </tfoot>
</table>

<div class="col-xs-4 float-left">
    <strong>Deductions:</strong>
    <div>
        <table>
            <tr>
                <td class="noBorder">@Html.DropDownList("deductionTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "deductions" })</td>
                <td class="noBorder"><input type="button" id="addDeduction" value="Add Deduction" class="btn btn-primary float-right" style="margin-left:20px"></td>
            </tr>
        </table>
    </div>
</div>
<br>

@if (isCompleted == true)
{
    <input type="button" id="finishPayout" value="Save Changes" class="btn btn-primary float-right">
}
else
{
    <input type="button" id="finishPayout" value="Finish Payout" class="btn btn-primary float-right">
}

@if (isCompleted != false)
{
    <input type="button" id="finishScrapPayout" value="Close Scrap Payout" class="btn btn-primary float-right" style="margin-right:50px;" />
    <a href="PayoutList" class="btn btn-warning float-right" style="margin-right:50px">Finish Later</a>
}
else
{
    <a href="PayoutList?status=CLOSED" class="btn btn-warning float-right" style="margin-right:50px">Payout List</a>
}


<br>
<br>
<br>
<!-- Notes Table -->
<table class="table table-responsive">
    <thead>
        <tr class="font-md">
            <th class="col-md-2">Stack Number</th>
            <th class="col-md-2">Part Number</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody id="notes">
        @foreach (MasterStack t in Model.Notes)
        {
            <tr>
                <td id="stackNumber_@t.StackGUID">@t.StackNumber</td>
                <td id="partNumber_@t.StackGUID">@t.PartNumber</td>
                <td id="note_@t.StackGUID">@t.PalletNote</td>
            </tr>
        }
    </tbody>
</table>
<!-- Images Table -->
<table class="table table-responsive">
    <thead>
        <tr class="font-md">
            <th class="col-md-2">Stack Number</th>
            <th class="col-md-2">Notes</th>
            <th>Image</th>
            <th>Taken By</th>
        </tr>
    </thead>
    <tbody id="images">
        @foreach (SortImage t in Model.Images)
        {
            var path = t.ImagePath.Replace("%20", " ");
            <tr>
                <td id="stackNumber_@t.SortGUID">@t.StackNumber</td>
                <td id="notes_@t.SortGUID">@t.Notes</td>
                <td id="image_@t.SortGUID">
                    <a href="/SortImages/@t.ImagePath" download>
                        <img src="/SortImages/@t.ImagePath" width="250" height="250" style="transform:rotate(90deg)">
                    </a>
                </td>
                <td id="takenBy_@t.SortGUID">@t.TakenBy</td>
            </tr>
        }
    </tbody>
</table>


<!-- Price Modal -->
<div id="priceModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                <p><strong>Enter the new price for part number:&nbsp;</strong><span id="partNumber"></span></p>
                <p><strong>Original Price:&nbsp;</strong><span id="originalPrice"></span></p>

            </div>
            <div class="modal-body">
                <strong>New Price &nbsp;</strong>
                <input type="text" class="form-control" id="newPrice">

                <label for="keepPricePreset">Keep as default price for future payouts?</label>
                <input type="checkbox" id="keepPricePreset" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="updatePrice" data-dismiss="modal" data-toggle="modal">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Split Modal -->
<div id="splitModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                <p><strong>Enter the new quantity you wish to split.</strong></p>
                <p><strong>Original Part Number:&nbsp;</strong><span id="splitPartNumber"></span></p>
                <p><strong>Original Quantity:&nbsp;</strong><span id="originalQuantity"></span></p>

                <label for="showNewPalletType">Split to new type?</label>
                <input type="checkbox" id="showNewPalletType" />


                <div class="hidden" id="newPalletTypeDropDown">
                    @Html.DropDownList("palletTypes", null, "- - - Please Select - - -", htmlAttributes: new { @class = "form-control signin-form", @id = "newPalletTypeInput" })
                </div>
            </div>
            <div class="modal-body">
                <strong>New Split Quantity:&nbsp;<span class="red" id="splitError"></span></strong>
                <input type="text" class="form-control" id="newSplitQuantity">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="split" data-dismiss="modal" data-toggle="modal">Split</button>
            </div>
        </div>
    </div>
</div>
<!-- Quantity Modal -->
<div id="quantityModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alter Quantity</h2>
                @using (Html.BeginForm("EditPayoutQuantity", "PalletRepair"))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="modal-body">
                            <div class="form-group hidden">
                                <input type="number" id="completedSortID" name="completedSortID" />
                            </div>
                            <div class="form-group">
                                <p><h3><strong>Part Number:&nbsp;</strong><span id="palletType"></span></h3></p>
                                <p><h3><strong>Old Quantity:&nbsp;</strong><span id="oldQuantity"></span></h3></p>
                            </div>
                            <div class="form-group">
                                <strong>New Quantity</strong>
                                <input type="number" id="newQuantity" class="form-control" name="newQuantity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div id="deleteModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                Are you sure you want to delete this pallet type?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteType" data-dismiss="modal" data-toggle="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Price Error Modal -->
<div id="errorModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                At least one part has no price, do you wish to go back?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Yes, Go Back</button>
                <button type="button" class="btn btn-danger" id="confirmFinish" data-dismiss="modal" data-toggle="modal">No, Finish</button>
            </div>
        </div>
    </div>
</div>
<!-- Update Payout Info Modal -->
<div id="additionalInfoModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Update Payout Info <span id="vendorName"></span></h2>

                @using (Html.BeginForm("UpdatePayoutInfo", "PalletRepair", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="modal-body">
                            <div class="form-group hidden">
                                <input type="number" class="form-control" id="sortID" name="sortID" value="@payout.SortGUID">
                                <br>
                            </div>
                            <div class="form-group">
                                <strong>Trailer Number:</strong>
                                <input type="text" class="form-control" id="trailerNumber" name="trailerNumber">
                            </div>
                            <div class="form-group">
                                <strong>Pallet Order Number:</strong>
                                <input type="text" class="form-control" id="palletOrderNumber" name="palletOrderNumber">
                            </div>
                            <div class="form-group">
                                <strong>Invoice Number:</strong>
                                <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber">
                            </div>
                            <div class="form-group">
                                <strong>Bill Of Lading:</strong>
                                <input type="text" class="form-control" id="billOfLading" name="billOfLading">
                            </div>
                            <div class="form-group">
                                <strong>Packing List Number:</strong>
                                <input type="text" class="form-control" id="packingListNumber" name="packingListNumber">
                            </div>
                            <div class="form-group">
                                <strong>Purchase Order Number:</strong>
                                <input type="text" class="form-control" id="purchaseOrderNumber" name="purchaseOrderNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Continue" id="submit" class="btn btn-primary" />
                                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Vendor Update Modal -->
<div id="updatePayoutVendor" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Update Payout Vendor</h2>

                @using (Html.BeginForm("UpdatePayoutVendor", "PalletRepair"))
                {
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="modal-body">
                            <div class="form-group hidden">
                                <input type="number" class="form-control" id="sortID" name="sortID" value="@payout.SortGUID">
                                <br>
                            </div>
                            <div class="form-group">
                                <strong>Vendor Change</strong>
                                @Html.DropDownList("vendorID", null, "- - - Select new vendor - - -", htmlAttributes: new { @class = "form-control", @id = "vendors", @name = "vendors" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- No Deduction Selected Modal-->
<div id="noDeductionModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                Please select a deduction before clicking add.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Finish Payout Confirmation Modal-->
<div id="finishPayoutConfirmationModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                @if (isCompleted == true)
                {
                    <div>
                        Are you sure you want to save changes to already completed payout? Future changes can be made after completing.
                    </div>
                }
                else
                {
                    <div>
                        Are you sure you want to finish payout? Future changes can be made after completing.
                    </div>
                }
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button type="button" id="confirmFinishPayout" class="btn btn-primary" data-dismiss="modal" data-toggle="modal">Finish</button>
            </div>
        </div>
    </div>
</div>
<!-- Close Scrap Payout Modal -->
<div id="closeScrapPayoutModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                Are you sure you want to close this scrap payout? Future changes can be made after completing.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <a href="/PalletRepair/RemovePayout?sortID=@payout.SortGUID" class="float-right btn btn-primary">Finish</a>
            </div>
        </div>
    </div>
</div>
<!-- Accounting Note Modal-->
<div id="accountingNote" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Update Accounting Note</h2>
            </div>
            <div class="modal-body" id="confirmText">
                <p>This note will be visible to who ever prints the payout.</p>
                <form action="UpdateAccountingNote" id="accountingForm">
                    <input type="number" name="sortID" class="hidden" value="@payout.SortGUID" />
                    <input type="text" name="note" class="form-control" placeholder="Accounting Note"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="updateNote" data-dismiss="modal" data-toggle="modal">Update</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            var priceCounter = 0;
            var totalPrice = 0;
            $('#palletTypes tr').each(function ()
            {
                var id = this.id;
                
                if ($('#price_' + id).html() != "" && $('#price_' + id).html() != "0")
                {
                    var cost = parseFloat($('#price_' + id).html());
                    var quantity = parseInt($('#quantity_' + id).html());
                    totalPrice += (cost.toFixed(2) * quantity.toFixed(2));
                    $('#price_' + id).html("$" + cost.toFixed(2));
                    $('#totalPrice').html("$" + totalPrice.toFixed(2));
                }
                else
                {
                    priceCounter++;
                    $('#price_' + id).html("$0.00");
                }
            });

            var sortID;
            $('#showAdditionalInfoModal').on('click', function ()
            {
                sortID = '@payout.SortGUID';
                var trailerNumber = $('#payoutTrailerNumber').html();
                $('#trailerNumber').val(trailerNumber);

                var invoiceNumber = $('#payoutInvoiceNumber').html();
                $('#invoiceNumber').val(invoiceNumber);

                var packingListNumber = $('#payoutPackingListNumber').html();
                $('#packingListNumber').val(packingListNumber);

                var palletOrderNumber = $('#payoutOrderNumber').html();
                $('#palletOrderNumber').val(palletOrderNumber);

                var billOfLading = $('#payoutBillOfLading').html();
                $('#billOfLading').val(billOfLading);

                var purchaseOrderNumber = $('#payoutPurchaseOrderNumber').html();
                $('#purchaseOrderNumber').val(purchaseOrderNumber);

                $('#additionalInfoModal').modal();
            });

            $('#showUpdatePayoutVendorModal').on('click', function ()
            {
                $('#updatePayoutVendor').modal();
            });

            $('#finishScrapPayout').on('click', function ()
            {
                $('#closeScrapPayoutModal').modal();
            });

            var editID;
            $('.quantityLink').on('click', function ()
            {
                editID = $(this).data("id");
                $('#palletType').html($('#partNumber_' + editID).html());
                $('#oldQuantity').html($('#quantity_' + editID).html());
                $('#completedSortID').val(editID);

                $('#quantityModal').modal();
            });

            $('.splitLink').on('click', function ()
            {
                editID = $(this).data("id");
                $('#splitPartNumber').html($('#partNumber_' + editID).html());
                $('#originalQuantity').html($('#quantity_' + editID).html());
                $('#splitModal').modal();
            });

            $('.priceLink').on('click', function ()
            {
                editID = $(this).data("id");
                $('#partNumber').html($('#partNumber_' + editID).html());
                $('#originalPrice').html($('#price_' + editID).html());
                $('#priceModal').modal();
            });

            $('.undoLink').on('click', function ()
            {
                editID = $(this).data("id");
                location.href = "/PalletRepair/UndoSplit?completedSortID=" + editID;
            });

            $('.deleteLink').on('click', function ()
            {
                editID = $(this).data("id");
                $('#deleteModal').modal();
            });

            $('#finishPayout').on('click', function ()
            {
                console.log(priceCounter);
                if (priceCounter > 0)
                {
                    $('#errorModal').modal();
                }
                else
                {
                    $('#finishPayoutConfirmationModal').modal();
                }
            });

            $('#updateAccountingNote').on('click', function ()
            {
                $('#accountingNote').modal();
            });

            $('#updateNote').on('click', function ()
            {
                $('#accountingForm').submit();
            });

            $('#confirmFinishPayout').on('click', function ()
            {
                location.href = "/Email/CompletePayout?sortID=" + @payout.SortGUID;
            })

            $('#confirmFinish').on('click', function ()
            {
                var id = $('#sortGUID').html();
                //location.href = "/PalletRepair/ViewCompletedPayout?sortID=" + id;
                location.href = "/Email/CompletePayout?sortID=" + @payout.SortGUID;
            });

            $('#finishLater').on('click', function ()
            {
                location.href = "/PalletRepair/PayoutList";
            });

            $('#addDeduction').on('click', function ()
            {
                var deduction = $('#deductions').val();
                if (deduction != "")
                {
                    location.href = "/PalletRepair/AddDeduction?sortID=" + @payout.SortGUID + "&deduction=" + deduction;
                }
                else
                {
                    $('#noDeductionModal').modal();
                }

                //console.log("/PalletRepair/AddDeduction?sortID=" + id + "&deduction=" + deduction);
            });

            $('#deleteType').on('click', function ()
            {
                location.href = "/PalletRepair/Delete?completedSortID=" + editID;
            });

            $('#updateQuantity').on('click', function ()
            {
                location.href = "/PalletRepair/EditPayoutQuantity?completedSortID=" + editID + "&newQuantity=" + $('#newQuantity').val();
            });

            $('#updatePrice').on('click', function ()
            {
                if ($('#newPrice').val() != "")
                {
                    if (keepPreset)
                    {
                        location.href = "/PalletRepair/UpdatePrice?completedSortID=" + editID + "&newPrice=" + $('#newPrice').val() + "&keepPreset=" + keepPreset;
                    }
                    else
                    {
                        location.href = "/PalletRepair/UpdatePrice?completedSortID=" + editID + "&newPrice=" + $('#newPrice').val();
                    }
                }
            });

            $('#split').on('click', function ()
            {
                if ($('#newSplitQuantity').val() != "" && ($('#newSplitQuantity').val() <= parseInt($('#originalQuantity').html())))
                {
                    location.href = "/PalletRepair/SplitPayoutPalletType?completedSortID=" + editID + "&newSplitQuantity=" + $('#newSplitQuantity').val() + "&newPartNumber=" + $('#newPalletTypeInput').val();
                }
            });

            $('#showNewPalletType').change(function ()
            {
                if ($(this).is(':checked'))
                {
                    $('#newPalletTypeDropDown').removeClass('hidden');
                }
                else
                {
                    $('#newPalletTypeDropDown').addClass('hidden');
                }
            });

            var keepPreset = false;
            $('#keepPricePreset').change(function ()
            {
                if ($(this).is(':checked'))
                {
                    keepPreset = true;
                }
                else
                {
                    keepPreset = false;
                }
            });
        });
    </script>
}