@using TrailerManagement.Models;
@{
    ViewBag.Title = "Completed Payout";
    int counter = 1;
    Payout payout = Model.Payout;
    var startsWith = Session["startsWith"];
}
<br class="no-print">
<table class="col-xs-12"></table>
<table class="table table-responsive col-xs-12">
    <thead>
        <tr>
            <th class="text-center" colspan="2"><h4><strong>Received From</strong></h4></th>
        </tr>
    </thead>
    <tbody>
        <tr class="font-md">
            <td rowspan="6" class="col-xs-8 text-center">
                @if (payout.VendorNumber == null || payout.VendorNumber == 0)
                {
                    <h2 id="">@payout.Vendor</h2>
                }
                else
                {
                    <h2 id="">@payout.Vendor - @payout.VendorNumber</h2>
                }
                <br>
            </td>
            <td>
                <div style="border-bottom-style:solid; margin:-10px; margin-bottom:8px; padding:3px">
                    <strong class="text-left">Invoice Number:&nbsp;</strong>@payout.InvoiceNumber
                    <br>
                </div>
                <div style="border-bottom-style:solid; margin:-10px; margin-bottom:8px; padding:3px">
                    <strong class="text-left">Bill Of Lading:&nbsp;</strong>@payout.BillOfLading
                    <br>
                </div>
                <div style="border-bottom-style:solid; margin:-10px; margin-bottom:8px; padding:3px">
                    <strong class="text-left">Packing List Number:&nbsp;</strong>@payout.PackingListNumber
                    <br>
                </div>
                <div style="border-bottom-style:solid; margin:-10px; margin-bottom:8px; padding:3px">
                    <strong class="text-left">Purchase Order Number:&nbsp;</strong>@payout.PurchaseOrderNumber
                    <br>
                </div>
                <div style="border-bottom-style:solid; margin:-10px; margin-bottom:8px; padding:3px">
                    <strong class="text-left">Pallet Order Number:&nbsp;</strong>@payout.OrderNumber
                    <br>
                </div>
                <div style="margin:-10px; padding:3px">
                    <strong class="text-left">Trailer Number:&nbsp;</strong>@payout.TrailerNumber
                </div>
            </td>
        </tr>
    </tbody>
</table>

<table class="table table-hover table-responsive">
    <thead>
        <tr class="font-md">
            <th class="text-center">#</th>
            <th class="text-center">Date</th>
            <th class="text-center">Part #</th>
            <th class="text-center">Qty</th>
            <th class="text-center">Description</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
        </tr>
    </thead>
    <tbody id="palletTypes">
        @foreach (CompletedSort t in Model.CompletePayout)
        {
            <tr class="product-row" id="@t.CompletedSortGUID">
                <td class="text-right"><strong>@counter</strong></td>
                <td class="text-center col-xs-2" id="date_@t.CompletedSortGUID">@payout.DateCompleted</td>
                <td class="text-center" id="partNumber_@t.CompletedSortGUID">@t.PartNumber</td>
                <td class="text-center" id="quantity_@t.CompletedSortGUID">@t.Quantity</td>
                <td id="description_@t.CompletedSortGUID">@t.Description</td>
                <td class="text-right" id="price_@t.CompletedSortGUID">@t.Cost</td>
                <td class="text-right" id="total_@t.CompletedSortGUID" style="width:15%"></td>
            </tr>
            counter++;
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td colspan="2" class="text-right"><strong>Total Due:</strong></td>
            <td class="text-center"><strong id="grandTotal"></strong></td>
        </tr>
    </tfoot>
</table>

<div id="accountingNote" class="no-print">
    <h4>
        Notes regarding this payout:
        @if (payout.AccountingNote == null || payout.AccountingNote == "")
        {
            <span>NONE</span>
        }
        else
        {
            @payout.AccountingNote
        }
    </h4>
</div>


<a class="no-print btn btn-primary" href="javascript:window.print()">Click to Print This Page</a>
@if (Session["username"] != null)
{
    if (startsWith.Equals(""))
    {
        <a class="no-print btn btn-warning" href="/PalletRepair/PayoutList">Payouts</a>
    }
    else
    {
        <a class="no-print btn btn-warning" href="/PalletRepair/PayoutList?status=CLOSED&startsWith=@startsWith">Payouts</a>
    }

    <a class="no-print btn btn-danger" href="/PalletRepair/ViewPayout?sortID=@payout.SortGUID&isCompleted=true">Edit Payout</a>
    <a class="btn btn-green" id="addPhotos">Add Photos</a>
}

    <div id="uploadPhotos" class="modal fade modal-spacing" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title">Add photo to closed payout</h2>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("AddPhotosToPayout", "PalletRepair", FormMethod.Post, new { enctype = "multipart/form-data", id = "photoForm" }))
                    {
                        <input type="number" class="hidden" name="sortID" value="@payout.SortGUID" />
                        <input type="file" name="ImageFile" id="ImageFile" placeholder="Take Picture" style="display:inline-block;width:auto">
                        <label for="photo-1">Note:</label>
                        <input type="text" name="photoNote" class="float-right form-control" style="display:inline-block;width:auto" />
                    }
                    <br />
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger float-left" id="addAnotherPhoto">Add Another Photo</button>
                    <button type="button" class="btn btn-danger float-left hidden" id="removePhoto">Remove Photo</button>*@
                    <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="upload" data-dismiss="modal" data-toggle="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>


@section scripts
{
    <script>
        $(function ()
        {
            $('#upload').on('click', function ()
            {
                $('#photoForm').submit();
            })
            
            var photoCount = 1;
            $('#addPhotos').on('click', function ()
            {
                $('#uploadPhotos').modal();
            });

            $('#addAnotherPhoto').on('click', function ()
            {
                var photo = $('#photoForm').children().last().children('input[type=file]').val();
                console.log(photo);
                if (photo != "")
                {
                    photoCount++;
                    $('#photoForm').append(
                        "<div class=\"form-group\">" +
                        "<input type=\"file\" name=\"photo-" + photoCount + "\" class=\"col-xs-7 float-left\" style=\"display:inline-block\" />" +
                        "<label for=\"photo-" + photoCount + "\">Note:</label>" +
                        "<input type=\"text\" name=\"photo-" + photoCount + "\" class=\"float-right form-control\" style=\"display:inline-block;width:auto\" />" +
                        "</div>"
                    );

                    if (photoCount > 1)
                    {
                        $('#removePhoto').removeClass('hidden');
                    }
                }

            });

            $('#removePhoto').on('click', function ()
            {
                if (photoCount > 1)
                {
                    $('#photoForm').children().last().remove();
                    photoCount--;
                }
                if (photoCount == 1)
                {
                    $(this).addClass('hidden');
                }
            });

            var grandTotal = 0;
            $('#palletTypes tr').each(function ()
            {
                var id = this.id;
                var cost;
                var price = $('#price_' + id).html();
                if (price != "")
                {
                    cost = parseFloat(price);
                    $('#price_' + id).html("$" + cost.toFixed(2));
                }
                else
                {
                    cost = 0;
                    $('#price_' + id).html("$0.00");
                }
                
                var total = 0;

                var quantity = $('#quantity_' + id).html()
                total = cost * parseFloat(quantity);
                
                var partNumber = $('#partNumber_' + id).html();
                if (partNumber == "DEDUCTION")
                {
                    grandTotal = grandTotal - total;
                    $('#total_' + id).html("- $" + total.toFixed(2));
                }
                else
                {
                    grandTotal = grandTotal + total;
                    $('#total_' + id).html("$" + total.toFixed(2));
                }
            });
            $('#grandTotal').html("$" + grandTotal.toFixed(2));

            function getCurrentDate()
            {
                var currentDate = new Date().toString();
                var currentMonth = currentDate.substring(4, 7);
                var currentDay = currentDate.substring(8, 10);
                var currentYear = currentDate.substring(11, 15);

                //converts month abreviation to month number
                switch (currentMonth)
                {
                    case "Jan":
                        currentMonth = "1";
                        break;
                    case "Feb":
                        currentMonth = "2";
                        break;
                    case "Mar":
                        currentMonth = "3";
                        break;
                    case "Apr":
                        currentMonth = "4";
                        break;
                    case "May":
                        currentMonth = "5";
                        break;
                    case "Jun":
                        currentMonth = "6";
                        break;
                    case "Jul":
                        currentMonth = "7";
                        break;
                    case "Aug":
                        currentMonth = "8";
                        break;
                    case "Sep":
                        currentMonth = "9";
                        break;
                    case "Oct":
                        currentMonth = "10";
                        break;
                    case "Nov":
                        currentMonth = "11";
                        break;
                    case "Dec":
                        currentMonth = "12";
                        break;
                }

                currentDate = (currentMonth + "-" + currentDay + "-" + currentYear);
                return currentDate;
            }
        });
    </script>
}