@model TrailerManagement.Models.SafetyConcern
@using TrailerManagement.Models;
@{
    ViewBag.Title = "Edit Safety Concern";
    var safetyConcernID = Model.SafetyConcernGUID;
    var violations = (List<String>)ViewData["Violations"];
    var count = violations.Count;
    var violation1 = "";
    var violation2 = "";
    var violation3 = "";
    switch(count)
    {
        case 1:
            violation1 = violations[0].ToString();
            break;
        case 2:
            violation1 = violations[0].ToString();
            violation2 = violations[1].ToString();
            break;
        case 3:
            violation1 = violations[0].ToString();
            violation2 = violations[1].ToString();
            violation3 = violations[2].ToString();
            break;
    }
}

<h2>Edit Safety Concern</h2>

<div class="well">
    <table>
        <tr>
            <td class="col-xs-9">
                <br />
                @using (Html.BeginForm("EditSafetyConcern", "Safety", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.SafetyConcernGUID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Area, "Area:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConditionNoted, "Condition Noted:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.ConditionNoted, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConditionNoted, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-3">
                                <strong class="float-right" style="margin-top:5px; margin-right:-10px;">Codes Violated:</strong>
                            </div>
                            <div class="col-xs-5">
                                @Html.DropDownList("codeTypes", null, "- - - Select Code 1 - - -", htmlAttributes: new { @class = "form-control signin-form", id = "code1" })
                            </div>
                            <br />
                            <br />
                            <div class="col-xs-offset-3 col-xs-5">
                                @Html.DropDownList("codeTypes2", null, "- - - Select Code 2 - - -", htmlAttributes: new { @class = "form-control signin-form", id = "code2" })
                            </div>
                            <br />
                            <br />
                            <div class="col-xs-offset-3 col-xs-5">
                                @Html.DropDownList("codeTypes3", null, "- - - Select Code 3 - - -", htmlAttributes: new { @class = "form-control signin-form", id = "code3" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CorrectiveActionMeasure, "Corrective Action:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.CorrectiveActionMeasure, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CorrectiveActionMeasure, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Severity, "Severity:", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(model => model.Severity, new List<SelectListItem>
                                {
                                    new SelectListItem { Text = "LOW", Value = "LOW" },
                                    new SelectListItem { Text = "MEDIUM", Value = "MEDIUM" },
                                    new SelectListItem { Text = "HIGH", Value = "HIGH"},
                                },
                                htmlAttributes: new { @class = "form-control signin-form", id = "severity" })
                                @Html.ValidationMessageFor(model => model.Severity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-3">
                                <strong class="float-right" style="margin-right:-10px;">Image Upload:</strong>
                            </div>
                            <div class="col-xs-2">
                                <input type="file" name="ImageFile" id="ImageFile">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-5">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a href="SafetyAudit" class="btn btn-warning">Cancel</a>
                                <input type="button" class="btn btn-danger float-right" value="Delete" id="delete">
                            </div>
                        </div>
                    </div>
                }

            </td>
            <td>
                @if (Model.ImagePath != null)
                {
                    <div class="text-center"><strong>Current Image:</strong></div>

                    <br />
                    <br />
                    <div class="col-md-4 text-center">
                        <img src="/SafetyImages/@Model.ImagePath" height="250" width="250" />
                    </div>
                }
            </td>
        </tr>
    </table>
</div>

<!-- Delete Modal -->
<div id="deleteModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                Are you sure you want to delete this safety concern?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">Cancel</button>
                <a href="DeleteSafetyConcern?safetyConcernID=@safetyConcernID" class="btn btn-danger float-right">Delete</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script>
        $(function ()
        {
            $('#delete').on('click', function ()
            {
                $('#deleteModal').modal();
            });

            var length = parseInt('@violations.Count');
            console.log(length);

            if (@count == 1)
            {
                $('#code1').val('@violation1');
            }
            else if (@count == 2)
            {
                $('#code1').val('@violation1');
                $('#code2').val('@violation2');
            }
            else if (@count == 3)
            {
                $('#code1').val('@violation1');
                $('#code2').val('@violation2');
                $('#code3').val('@violation3');
            }
        });
</script>
}