@using TrailerManagement.Models;
@{
    ViewBag.Title = "Manager Dashboard";
}

<h2>@Session["departmentName"] Safety Concerns</h2>

@foreach (SafetyConcern s in Model)
{
    var path = s.ImagePath.Replace("%20", " ");
    <div>
        <table class="table table-responsive" style="border-style:solid;border-color:#333;border-top-color:#333!important">
            <tbody id="@s.SafetyConcernGUID">
                <tr>
                    <th id="area_@s.SafetyConcernGUID">
                        Area: @s.Area
                        @if (s.SubArea != "" && s.SubArea != null)
                        {
                            <span> - @s.SubArea</span>
                        }
                    </th>

                    <th class="text-right col-xs-3">
                        <span>Repeat Violation: </span><span id="violationCount_@s.SafetyConcernGUID">@s.ViolationCount</span>
                        @if (s.ViolationCount > 1)
                        {
                            <span> times</span>
                        }
                        else
                        {
                            <span> time</span>
                        }
                    </th>

                    <td rowspan="3" width="250">
                        <img src="~/SafetyImages/@s.ImagePath" height="250" width="250" style="margin:-8px;" />
                    </td>
                    <td class="col-xs-2" rowspan="3">
                        <span class="text-center"><h4>Issue fixed?</h4></span>
                        <center>
                            <input type="button" class="issue-fixed btn btn-primary" value="Click Me" />
                        </center>
                    </td>
                </tr>

                <tr style="border-style:solid; border-color:#333">
                    <th colspan="2" id="condition_@s.SafetyConcernGUID">Condition Noted: @s.ConditionNoted</th>
                </tr>

                <tr style="height:20px;">
                    <th colspan="2" id="action_@s.SafetyConcernGUID">Corrective Action Measure: <small>@s.CorrectiveAction</small></th>
                </tr>

                <tr class="hidden">
                    <th id="severity_@s.SafetyConcernGUID">@s.Severity</th>
                </tr>
            </tbody>
        </table>
    </div>
}

<!-- Close Modal -->
<div id="closeModal" class="modal fade modal-spacing" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Alert!</h2>
            </div>
            <div class="modal-body" id="confirmText">
                By closing this safety concern, it alerts Carlos for the next safety inspection. Are you sure this issue has been fixed?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="close" data-dismiss="modal" data-toggle="modal">No</button>
                <a id="closeLink" class="btn btn-primary float-right">Yes</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            $('body').on('click', '.issue-fixed', function ()
            {
                console.log(this.parentElement.parentElement.parentElement.parentElement.id);
                $('#closeLink').attr('href', ("MarkConcernAsFixed?safetyConcernID=" + this.parentElement.parentElement.parentElement.parentElement.id));
                $('#closeModal').modal();
            });
        });
    </script>    
}