@using TrailerManagement.Models;
@{
    ViewBag.Title = "Safety Audit";
}
<br class="no-print" />

<center>
    <img src="~/Content/logo2.png" style="margin-bottom:-15px;" />
</center>

<h3><strong class="col-xs-12 text-center">Safety Audit Report. <span id="date"></span></strong></h3>

<span class="float-left">
    <a href="AddSafetyConcern" class="btn btn-primary no-print">Add Concern</a>
    <a class="no-print btn btn-primary" href="javascript:window.print()">Click to Print This Page</a>
</span>
<br />
<br />
<br class="no-print"/>
<br class="no-print"/>

@foreach (SafetyConcern s in Model.Concerns)
{
var path = s.ImagePath.Replace("%20", " ");
<div>
    <table class="table table-responsive" id="@s.SafetyConcernGUID" style="border-style:solid;border-color:#333">
        <tbody id="concerns">
            <tr>
                <th id="area_@s.SafetyConcernGUID">Area: @s.Area @if (s.AreaNote != "" && s.AreaNote != null) { <span> - @s.AreaNote</span> }</th>
                <td rowspan="4" width="250">
                    <img src="~/SafetyImages/@s.ImagePath" height="250" width="250" />
                </td>
            </tr>

            <tr style="border-style:solid; border-color:#333">
                <th id="condition_@s.SafetyConcernGUID">Condition Noted: @s.ConditionNoted</th>
            </tr>

            <tr>
                <th id="violation_@s.SafetyConcernGUID">
                    <strong>Code Violation:</strong>
                    @foreach (CodeViolation c in Model.Violations)
                    {
                        if (c.SafetyConcernGUID == s.SafetyConcernGUID)
                        {
                            @c.ViolationCode @c.Type <small>- @c.Description</small>
                        }
                    }
                </th>
            </tr>

            <tr>
                <th id="action_@s.SafetyConcernGUID">Corrective Action Measure: <small>@s.CorrectiveActionMeasure</small></th>
            </tr>

            <tr class="hidden">
                <th id="severity_@s.SafetyConcernGUID">@s.Severity</th>
            </tr>
        </tbody>
    </table>
</div>
}

<style type="text/css">
    @@media print
    {
        table {
            page-break-inside: auto;
            border-color:black!important;
            -webkit-print-color-adjust: exact !important;
        }

        table tr {
            border-color: black !important;
            -webkit-print-color-adjust: exact !important;
        }

        div {
            page-break-inside: avoid;
        }
        body {
            -webkit-print-color-adjust: exact !important;
        }


        /* This is the key */
        thead {
            display: table-header-group
        }

        tfoot {
            display: table-footer-group
        }
    }
</style>
@section scripts
{
    <script>
        $(function ()
        {
            $('table th').on('click', function ()
            {
                var id = this.parentElement.parentElement.parentElement.id;
                location.href = "/Safety/EditSafetyConcern?safetyConcernID=" + id;
            });

            $('table').each(function ()
            {
                var id = this.id;
                var severity = $('#severity_' + id).html();
                switch (severity)
                {
                    case "MEDIUM":
                        $('#condition_' + id).addClass('yellowBackground');
                        //$('#' + id).css('border-color', 'darkorange');
                        //$('tr td').css('border-color', 'darkorange');
                        //$('tr th').css('border-color', 'darkorange');
                        break;
                    case "HIGH":
                        $('#condition_' + id).addClass('redBackground');
                        //$('#condition_' + id).css({ 'color': 'white' });
                        break;
                }
            });

            var date = new Date();
            var month = date.getMonth();
            var day = date.getDate();
            var year = date.getFullYear();

            switch (month)
            {
                case 0:
                    month = "JANUARY";
                    break;
                case 1:
                    month = "FEBRUARY";
                    break;
                case 2:
                    month = "MARCH";
                    break;
                case 3:
                    month = "APRIL";
                    break;
                case 4:
                    month = "MAY";
                    break;
                case 5:
                    month = "JUNE";
                    break;
                case 6:
                    month = "JULY";
                    break;
                case 7:
                    month = "AUGUST";
                    break;
                case 8:
                    month = "SEPTEMBER";
                    break;
                case 9:
                    month = "OCTOBER";
                    break;
                case 10:
                    month = "NOVEMBER";
                    break;
                case 11:
                    month = "DECEMBER";
                    break;
            };

            $('#date').html(month + " " + day + ", " + year + ".");
        });
    </script>
}